<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo" [ngClass]="{changeModule: !showModules}">
      <a (click)="toggleModule()">
        <img [src]="logo" alt="logo" />
        <h1 *ngIf="!isCollapsed">{{ title }}</h1>
      </a>
    </div>
    <div class="menus">
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <ng-container *ngFor="let menu of menus">
          <li *ngIf="menu.children?.length" nz-submenu [nzTitle]="menu.text" [nzIcon]="menu.icon"
            [(nzOpen)]="menu.isOpen" (nzOpenChange)="openHandler(menu)">
            <ul *ngFor="let child of menu.children">
              <li nz-menu-item nzMatchRouter>
                <a [routerLink]="child.link">{{ child.text }}</a>
              </li>
            </ul>
          </li>
          <li *ngIf="!menu.children?.length" nz-menu-item>
            <a [routerLink]="menu.link">
              <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
              <span>{{ menu.text }}</span>
            </a>
          </li>
        </ng-container>
      </ul>
      <ul class="modules" [ngClass]="{show: showModules}">
        <li *ngFor="let module of modules">
          <a [href]="module.Link ? module.Link : 'javaScript:void(0);'">
            <span class="image"><img *ngIf="module.Icon" [src]="module.Icon"></span>
            <span class="text">{{ module.Name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <ul>
          <li class="collapse">
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
            </span>
          </li>
        </ul>
        <ul>
          <li class="profile">
            <a nz-button nzType="default" nz-dropdown nzTrigger="click" [nzDropdownMenu]="profile_menu">
              {{ user.Name }}
              <i nz-icon nzType="user" nzTheme="outline"></i>
            </a>
            <nz-dropdown-menu #profile_menu="nzDropdownMenu">
              <ul class="profile_dropdown" nz-menu>
                <li nz-menu-item><a routerLink="/account/settings">تنظیمات</a></li>
                <li nz-menu-item><a routerLink="/account/profile">پروفایل</a></li>
                <li nz-menu-divider></li>
                <li class="logout" nz-menu-item (click)="logout()">خروج</li>
              </ul>
            </nz-dropdown-menu>
          </li>
        </ul>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb class="card">
        <nz-breadcrumb-item>{{ title }}</nz-breadcrumb-item>
        <nz-breadcrumb-item *ngFor="let item of breadcrumbs">{{item}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>