:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.header-trigger {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  display: flex;
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
  align-items: center;
  white-space: nowrap;


  &:hover {
    h1 {
      opacity: 0;
    }

    a:after {
      opacity: 1;
    }
  }

  &.changeModule a:after {
    content: 'تغییر سامانه';
  }

  &:not(.changeModule) a:after {
    content: 'بازگشت به سامانه';
  }

  a {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      color: #fff;
      transition: all 300ms ease;
      transform: translate(-50%, -50%);
    }
  }

  img {
    display: inline-block;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 50%;
  }

  h1 {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    padding: 0 10px;
    vertical-align: middle;
    transition: all 300ms ease;

  }
}

.menus {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: inherit;
}

.versions {
  padding: 10px;

  nz-select {
    width: 100%;
  }
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  display: flex;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  >ul {
    list-style: none;
    margin: 0;
    padding: 0 10px;
    display: flex;
    flex: 1;

    &:first-child {
      flex-direction: row;
    }

    &:last-child {
      flex-direction: row-reverse;
    }

    >li {
      margin: 0 10px;
    }
  }
}

nz-content {
  margin: 0 24px 24px;
  display: flex;
  flex-direction: column;
}

nz-breadcrumb {
  padding: 10px;
  margin: 20px 0 10px;
  background: #fff;
  border: 1px solid #e8e8e8;
}

.inner-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

nz-footer {
  text-align: center;
}

::ng-deep {
  router-outlet+* {
    min-height: 100%;
  }

  .ant-layout-sider-children {
    background-color: inherit;
  }

  .ant-menu-submenu-title {
    padding: 0 10px !important;
  }

  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    color: #bccdde;
    font-size: 18px;
    margin: 0 8px;
  }
}

.modules {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  background-color: inherit;
  transition: all 300ms ease;
  transform: translateX(100%);

  &.show {
    transform: translateX(0);
  }

  li {
    display: block;

    a {
      display: flex;
      padding: 10px;

      &:hover .text {
        color: #fff;
      }
    }
  }

  .image {
    width: 32px;
    height: 32px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    box-sizing: content-box;

    img {
      width: 32px;
      height: 32px;
    }
  }

  .text {
    flex: 1;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
    color: rgba(255, 255, 255, 0.65);
  }
}

:host-context([dir="rtl"]) {
  .sidebar-logo {
    padding-right: 24px;
    padding-left: initial;
  }

  ::ng-deep {
    .ant-menu-submenu-arrow {
      left: 16px;
      right: initial;
    }
  }
}
