<form nz-row nzType="flex" [formGroup]="form">
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="Name">عنوان</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="9" [nzXs]="24" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="Color">رنگ</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="9" [nzXs]="24" nzErrorTip="مقدار وارد شده معتبر نیست">
            <span class="color-box" [style.backgroundColor]="f.Color"></span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="6">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive" nzDisabled>
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="6">
        <nz-form-control>
            <label nz-checkbox formControlName="IsWorkTime" nzDisabled>
                <span>آیا زمان کار می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
</form>