.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px 10px;

    .image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid #ccc;
    }
}