<nz-spin [nzSpinning]="progress">
    <nz-tree nzCheckable nzMultiple nzShowLine [nzData]="getPlaceNodes()" [nzExpandedIcon]="mutiExpandedIconTpl"
        (nzCheckBoxChange)="onCheckPlaceChanged($event.node)">
        <ng-template #mutiExpandedIconTpl let-node>
            <img *ngIf="!node.isLeaf && !node.isExpanded" src="assets/images/layouts/tree/open.png" />
            <img *ngIf="!node.isLeaf && node.isExpanded" src="assets/images/layouts/tree/close.png" />
            <img *ngIf="node.isLeaf" src="assets/images/layouts/tree/leaf.png" />
        </ng-template>
    </nz-tree>
</nz-spin>