<div nz-row nzType="flex">
  <div class="p-10" nz-col nzXs="24" nzXl="10" nzXXl="8">
    <nz-card>
      <div class="row" style="margin-bottom: 10px;">
        <div *ngIf="selectedNode && createTpl" class="p-5 col-xxs-12">
          <button nz-button nzType="dashed" nzBlock (click)="clearSelectedNode(nodes)">
            عدم انتخاب برای ایجاد در سطح اول
          </button>
        </div>
        <div class="p-5 col-sm-6 col-xxs-12">
          <button nz-button nzType="default" nzBlock (click)="reload()">
            <i nz-icon nzType="reload" nzTheme="outline"></i> بارگزاری مجدد
          </button>
        </div>
        <div class="p-5 col-sm-6 col-xxs-12" *ngIf="createTpl">
          <button nz-button nzType="primary" nzBlock (click)="create()">
            <i nz-icon nzType="plus" nzTheme="outline"></i> ایجاد ردیف جدید
          </button>
        </div>
      </div>
      <nz-spin [nzSpinning]="isLoading" nzTip="در حال بارگزاری اطلاعات">
        <nz-input-group [nzSuffix]="suffixIcon">
          <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
        </nz-input-group>
        <ng-template #suffixIcon>
          <i nz-icon nzType="search"></i>
        </ng-template>
        <div class="tree-box">
          <nz-tree nzBlockNode nzShowLine nzShowIcon nzMultiple="false" [nzData]="nodes" [nzSearchValue]="searchValue"
            [nzExpandedIcon]="mutiExpandedIconTpl" (nzClick)="onClick($event)" (nzOnDrop)="onDrop($event)"
            (nzExpandChange)="onExpandChange($event)" (nzSearchValueChange)="onSearchValueChange($event)"
            (nzDblClick)="onDblClick($event)">
            <ng-template #mutiExpandedIconTpl let-node>
              <img *ngIf="!node.isLeaf && !node.isExpanded" src="assets/images/layouts/tree/open.png" />
              <img *ngIf="!node.isLeaf && node.isExpanded" src="assets/images/layouts/tree/close.png" />
              <img *ngIf="node.isLeaf" src="assets/images/layouts/tree/leaf.png" />
            </ng-template>
          </nz-tree>
        </div>
      </nz-spin>
    </nz-card>
  </div>
  <div class="p-10" nz-col nzXs="24" nzXl="14" nzXXl="16">
    <nz-card *ngIf="mode">
      <div [ngSwitch]="mode">
        <ng-container *ngSwitchCase="'create'">
          <ng-container *ngTemplateOutlet="createTpl"></ng-container>
        </ng-container>
        <ng-container *ngIf="selectedNode">
          <ng-container *ngSwitchCase="'edit'">
            <ng-container *ngTemplateOutlet="editTpl"></ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="selectedNode">
          <ng-container *ngSwitchCase="'detail'">
            <ng-container *ngTemplateOutlet="detailTpl"></ng-container>
            <div nz-row nzType="flex">
              <div *ngIf="editTpl" class="px-5" nz-col nzSpan="12"><button nz-button nzType="primary" nzBlock
                  (click)="edit()">وایرایش</button></div>
              <div *ngIf="removable" class="px-5" nz-col nzSpan="12"><button nz-button nzType="danger" nzBlock
                  nz-popconfirm nzPopconfirmTitle="آیا از حذف این مورد اطمینان دارید؟"
                  (nzOnConfirm)="onRemove.emit(removed)" nzPopconfirmPlacement="top">حذف</button></div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </nz-card>
    <ng-content></ng-content>
  </div>
</div>