<app-layout-tree
  [nodes]="nodes"
  [isLoading]="isLoading"
  [createTpl]="createTpl"
  [editTpl]="editTpl"
  [detailTpl]="detailTpl"

  (onReload)="load()"
  (onDetail)="detail($event)"
  (onCreate)="create($event)"
  (onEdit)="edit($event)"
  (onRemove)="remove()"
  (onSelectedChange)="selectedChange($event)"
>
</app-layout-tree>

<ng-template #createTpl>
  <app-index-create [parentId]="id" [obj]="selectedItem" (oncomplete)="created($event)"></app-index-create>
</ng-template>
<ng-template #editTpl>
  <app-index-edit [id]="id" [obj]="selectedItem" (oncomplete)="edited($event)"></app-index-edit>
</ng-template>
<ng-template #detailTpl>
  <app-index-detail [id]="id" [obj]="selectedItem" (oncomplete)="detailed()"></app-index-detail>
</ng-template>