<app-layout-tree
  [nodes]="nodes"
  [isLoading]="isLoading"
  [detailTpl]="detailTpl"
  [removable]="false"

  (onReload)="load()"
  (onDetail)="detail($event)"
  (onCreate)="create($event)"
  (onEdit)="edit($event)"
  (onRemove)="remove()"
  (onSelectedChange)="selectedChange($event)"
>
</app-layout-tree>

<ng-template #detailTpl>
  <app-cleaning-area-index [placeId]="selectedItem.Id"></app-cleaning-area-index>
</ng-template>