<div style="margin-bottom: 10px;">
  <button nz-button nzType="default" (click)="load()">
    <i nz-icon nzType="reload" nzTheme="outline"></i> بارگزاری
  </button>
  <button nz-button nzType="primary" (click)="create()">
    <i nz-icon nzType="plus" nzTheme="outline"></i> ایجاد ردیف جدید
  </button>
</div>
<nz-table
  #table
  nzBordered
	    nzShowSizeChanger
    nzSize="small"
 
  [nzFrontPagination]="false"
  [nzData]="items"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)"
>
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
          <th nzWidth="50px" nzShowSort nzSortKey="Id">#</th>
          <th nzWidth="auto" nzShowSort nzSortKey="Name">نام</th>
      <th nzWidth="250px" nzShowSort nzSortKey="Symbol">نماد</th>
      <th nzWidth="100px"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of table.data; let index = index">
          <td>{{ (pageIndex - 1) * pageSize + index + 1 }}</td>
          <td>{{ item.Name }}</td>
      <td>{{ item.Symbol }}</td>
      <td>
        <a nz-button nzType="primary" nz-tooltip nzTooltipTitle="ویرایش" (click)="edit(item)">
          <i nz-icon nzType="edit"></i>
        </a>
        <a
          nz-button
          nzType="danger"
          nz-tooltip
          nzTooltipTitle="حذف"
          nz-popconfirm
          nzPopconfirmTitle="آیا از حذف این ردیف اطمینان دارید؟"
          (nzOnConfirm)="remove(item)"
          >
          <i nz-icon nzType="delete"></i>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #createTpl>
  <app-shift-role-create (oncomplete)="created($event)"></app-shift-role-create>
</ng-template>
<ng-template #editTpl>
  <app-shift-role-edit [id]="id" [obj]="selectedItem" (oncomplete)="edited($event)"></app-shift-role-edit>
</ng-template>
<ng-template #detailTpl>
  <app-shift-role-detail [id]="id" [obj]="selectedItem" (oncomplete)="detailed()"></app-shift-role-detail>
</ng-template>
