<div nz-row nzType="flex">
    <div class="pl-10" nz-col nzXXl="6" nzXl="8" nzLg="10" nzXs="24">
        <div class="card">
            <h3 class="pr-10 pt-10"><b>وظیفه امروز</b></h3>
            <hr>
            <ul>
                <li>شیفت : </li>
                <li>دوره تخلیه : </li>
                <li>سرشیفت : </li>
                <li>ساعت استراحت : </li>
                <li>شماره تماس سر شیفت : </li>
            </ul>
        </div>
    </div>
    <div nz-col nzXXl="18" nzXl="16" nzLg="14" nzXs="24">
        <app-layout-map [enablePlaces]="true" [enableStations]="true"
            place-class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-xxs-12"></app-layout-map>
    </div>
</div>