<app-layout-table (onReload)="load()" (onCreate)="create()" [createTpl]="createTpl" [detailTpl]="detailTpl"
  [editTpl]="editTpl">
  <div style="margin-bottom: 10px;">
    <button nz-button nzType="default" (click)="load()">
      <i nz-icon nzType="reload" nzTheme="outline"></i> بارگزاری
    </button>
    <button nz-button nzType="primary" (click)="create()">
      <i nz-icon nzType="plus" nzTheme="outline"></i> ایجاد ردیف جدید
    </button>
  </div>
  <nz-table #table nzBordered nzShowSizeChanger nzSize="small" [nzFrontPagination]="false" [nzData]="items"
    [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzFooter]="getFooter()">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="60px" nzShowSort nzSortKey="Id">#</th>
        <th nzWidth="250px" nzShowSort>نوع روز</th>
        <th nzWidth="100px" nzShowSort nzSortKey="DischargePeriod">تخلیه هر</th>
        <th nzWidth="100px" nzShowSort nzSortKey="SwapPeriod">تعویض هر</th>
        <th nzWidth="auto">رفت و روب</th>
        <th nzWidth="60px" nzShowSort nzSortKey="IsActive">فعال</th>
        <th nzWidth="50px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of table.data; let index = index">
        <td>{{ (pageIndex - 1) * pageSize + index + 1 }}</td>
        <td>{{ item.DayPart?.DayPartName?.Name }} ({{item.DayPart?.StartTime}} ~ {{item.DayPart?.EndTime}})</td>
        <td>{{ item.DischargePeriod }} ساعت</td>
        <td>{{ item.SwapPeriod }} ساعت</td>
        <td>
          <span *ngIf="getNormalItems(item.Items).length">
            معمولی : {{ getItemsString(getNormalItems(item.Items)) }}
          </span>
          <span *ngIf="getNormalItems(item.Items).length && getMinorItems(item.Items).length"> | </span>
          <span *ngIf="getMinorItems(item.Items).length">
            جزئی : {{ getItemsString(getMinorItems(item.Items)) }}
          </span>
        </td>
        <td class="text-center">
          <nz-form-control>
            <label nz-checkbox [(ngModel)]="item.IsActive" [nzDisabled]="false" (ngModelChange)="changeActivation(item.Id, $event)"></label>
          </nz-form-control>
        </td>
        <td>
          <!-- <a nz-button nzType="default" nz-tooltip nzTooltipTitle="نمایش جزئیات" (click)="detail(item)">
            <i nz-icon nzType="eye"></i>
          </a> -->
          <!-- <a nz-button nzType="primary" nz-tooltip nzTooltipTitle="ویرایش" (click)="edit(item)">
            <i nz-icon nzType="edit"></i>
          </a> -->
          <a nz-button nzType="danger" nz-tooltip nzTooltipTitle="حذف" nz-popconfirm
            nzPopconfirmTitle="آیا از حذف این ردیف اطمینان دارید؟" (nzOnConfirm)="remove(item)">
            <i nz-icon nzType="delete"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</app-layout-table>

<ng-template #createTpl>
  <app-day-part-schedule-create [placeId]="placeId" [obj]="selectedItem" (oncomplete)="created($event)">
  </app-day-part-schedule-create>
</ng-template>
<ng-template #editTpl>
  <app-day-part-schedule-edit [id]="id" [obj]="selectedItem" (oncomplete)="edited($event)"></app-day-part-schedule-edit>
</ng-template>
<ng-template #detailTpl>
  <app-day-part-schedule-detail [id]="id" [obj]="selectedItem" (oncomplete)="detailed()"></app-day-part-schedule-detail>
</ng-template>