<nz-card>
    <div nz-row nzType="flex">
        <h1 nz-col nzSpan="21">تنظیمات امنیتی</h1>
        <div nz-col nzSpan="3">
            <button nz-button nzType="primary" nzBlock>ذخیره</button>
        </div>
    </div>
</nz-card>
<form [formGroup]="form">
    <nz-card class="mt-10">
        <h2>تظیمات ورود</h2>
        <div nz-row nzType="flex">
            <nz-form-item nz-col nzLg="12" nzXs="24">
                <nz-form-label [nzSm]="16" nzRequired nzFor="CaptchaShowTryCount">بعد از چه تعداد تلاش ناموفق Captcha
                    فعال
                    گردد</nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="6" nzErrorTip="مقدار وارد شده معتبر نیست">
                    <input type="number" nz-input formControlName="CaptchaShowTryCount" id="CaptchaShowTryCount"
                        required />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzLg="12" nzXs="24">
                <nz-form-label [nzSm]="16" nzRequired nzFor="LockUserTryCount">حداقل تعداد تلاش نامفق که کاربر لاک شود
                </nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="6" nzErrorTip="مقدار وارد شده معتبر نیست">
                    <input type="number" nz-input formControlName="LockUserTryCount" id="LockUserTryCount" required />
                </nz-form-control>
            </nz-form-item>
        </div>
    </nz-card>
    <nz-card class="mt-10">
        <h2>تظیمات کلمه عبور</h2>
        <div nz-row nzType="flex">
            <nz-form-item nz-col nzLg="12" nzXs="24">
                <nz-form-label [nzSm]="16" nzRequired nzFor="UseLowercaseCharactersInPassword">استفاده اجباری از حروف
                    کوچک
                    در کلمه عبور</nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="6" nzErrorTip="مقدار وارد شده معتبر نیست">
                    <nz-switch formControlName="UseLowercaseCharactersInPassword"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzLg="12" nzXs="24">
                <nz-form-label [nzSm]="16" nzRequired nzFor="UseUppercaseCharactersInPassword">استفاده اجباری از حروف
                    بزرگ
                    در کلمه عبور</nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="6" nzErrorTip="مقدار وارد شده معتبر نیست">
                    <nz-switch formControlName="UseUppercaseCharactersInPassword"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzLg="12" nzXs="24">
                <nz-form-label [nzSm]="16" nzRequired nzFor="UseNumbersInPassword">استفاده اجباری از اعداد در کلمه عبور
                </nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="6" nzErrorTip="مقدار وارد شده معتبر نیست">
                    <nz-switch formControlName="UseNumbersInPassword"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzLg="12" nzXs="24">
                <nz-form-label [nzSm]="16" nzRequired nzFor="UseSpecialCharactersInPassword">استفاده از کاراکتر های خاص
                    در
                    کلمه عبور ((,),*,&,^,$,#,@,!,%)</nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="6" nzErrorTip="مقدار وارد شده معتبر نیست">
                    <nz-switch formControlName="UseSpecialCharactersInPassword"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzLg="12" nzXs="24">
                <nz-form-label [nzSm]="16" nzRequired nzFor="MinPasswordLength">حداقل طول کلمه عبور</nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="6" nzErrorTip="مقدار وارد شده معتبر نیست">
                    <input nz-input formControlName="MinPasswordLength" id="MinPasswordLength" required />
                </nz-form-control>
            </nz-form-item>
        </div>
    </nz-card>
    <nz-card class="mt-10">
        <h2>تظیمات لاگ</h2>
        <div nz-row nzType="flex">
            <nz-form-item nz-col nzLg="12" nzXs="24">
                <nz-form-label [nzSm]="16" nzRequired nzFor="MaxStoreUserLogByYear">حداکثر میزان زمان نگهداری لاگ
                    کاربران
                    (سال)</nz-form-label>
                <nz-form-control nzHasFeedback [nzSm]="6" nzErrorTip="مقدار وارد شده معتبر نیست">
                    <input nz-input formControlName="MaxStoreUserLogByYear" id="MaxStoreUserLogByYear" required />
                </nz-form-control>
            </nz-form-item>
        </div>
    </nz-card>
</form>