<form [formGroup]="form" (submit)="submit()" autocomplete="off">
    <nz-form-item *ngIf="form.get('Parent')?.value" formGroupName="Parent">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">کاربری پدر</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" readonly/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzXXl="3" nzXl="6" nzXs="24" nzRequired nzFor="Name">نوع کاربری</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="20" nzXl="17" nzXs="24" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required />
        </nz-form-control>
    </nz-form-item>
    <div class="buttons" nz-row nzType="flex">
        <div class="px-5" nz-col nzLg="12" nzXs="24"><button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">ثبت</button>
        </div>
        <div class="px-5" nz-col nzLg="12" nzXs="24"><button nz-button nzType="default" type="button" nzBlock (click)="cancel()">انصراف</button>
        </div>
    </div>
</form>