<nav>
    <ul class="tool-bar select-place row">
        <li class="px-5 col-md-2 col-sm-3 col-xs-4 col-xxs-12" *ngFor="let item of selectedPlaces">
            <input nz-input type="text" [ngModel]="item.Name" disabled />
        </li>
        <li *ngIf="Places?.length" class="col-md-2 col-sm-3 col-xs-4 col-xxs-12">
            <a *ngIf="LastSelectedPlace" (click)="selectPrePlace()"><i nz-icon nzType="arrow-right"
                    nzTheme="outline"></i></a>
            <nz-select (ngModelChange)="selectPlace($event)" [compareWith]="placeCompare"
                [(ngModel)]="selectedPlace">
                <nz-option *ngFor="let item of places" [nzLabel]="item.Name" [nzValue]="item"></nz-option>
            </nz-select>
        </li>
    </ul>
</nav>
<nav *ngIf="getImage()">
    <ul class="tool-bar">
        <li>
            <button nz-button nzType="dashed" (click)="zoomIn()"><i nz-icon nzType="zoom-in"
                    nzTheme="outline"></i></button>
        </li>
        <li>
            <nz-select [(ngModel)]="scale" (ngModelChange)="zoomChange()">
                <nz-option *ngFor="let item of scales" [nzLabel]="(item*100) + '%'" [nzValue]="item"></nz-option>
            </nz-select>
        </li>
        <li>
            <button nz-button nzType="dashed" (click)="zoomOut()"><i nz-icon nzType="zoom-out"
                    nzTheme="outline"></i></button>
        </li>
        <li>
            <button nz-button [nzType]="getToolClass(0)" (click)="changeTool(0)" title="انتخاب"><i nz-icon
                    nzType="border-inner" nzTheme="outline"></i></button>
        </li>
        <li>
            <button nz-button [nzType]="getToolClass(1)" (click)="changeTool(1)" title="بخش بندی"><i nz-icon
                    nzType="layout" nzTheme="outline"></i></button>
        </li>
        <li *ngIf="places.length == 0"><button nz-button [nzType]="getToolClass(2)" (click)="changeTool(2)"
                title="ایستگاه"><i nz-icon nzType="rest" nzTheme="outline"></i></button>
        </li>
        <li *ngIf="places.length == 0"><button nz-button [nzType]="getToolClass(3)" (click)="changeTool(3)"
                title="المان"><i nz-icon nzType="environment" nzTheme="outline"></i></button>
        </li>
        <li *ngIf="places.length == 0"><button nz-button [nzType]="getToolClass(4)" (click)="changeTool(4)"
                title="مسیر"><i nz-icon nzType="share-alt" nzTheme="outline"></i></button>
        </li>
        <li *ngIf="places.length == 0"><button nz-button [nzType]="getToolClass(5)" (click)="changeTool(5)"
                title="محوطه رفت و روب"><i nz-icon nzType="gateway" nzTheme="outline"></i></button>
        </li>
        <li>
            <button nz-button [nzType]="getToolClass(6)" (click)="changeTool(6)" title="پاک کردن"><i nz-icon
                    nzType="delete" nzTheme="outline"></i></button>
        </li>
        <!-- <li>
            <button nz-button [nzType]="getToolClass(7)" (click)="changeTool(7)" title="جا به جا کردن"><i nz-icon
                    nzType="drag" nzTheme="outline"></i></button>
        </li> -->
        <!-- <li>
            <button nz-button [nzType]="(selectedTools == 8 ? 'primary' : 'default')" (click)="selectedTools = 8" title=""></button>
        </li> -->
        <li *ngIf="!isFullscreen"><button nz-button nzType="dashed" (click)="fullscreen()" title="تمام صفحه"><i nz-icon
                    nzType="fullscreen" nzTheme="outline"></i></button>
        </li>
        <li *ngIf="isFullscreen"><button nz-button nzType="dashed" (click)="fullscreenExit()"
                title="خروج از تمام صفحه"><i nz-icon nzType="fullscreen-exit" nzTheme="outline"></i></button>
        </li>
        <li>
            <button nz-button nzType="dashed" (click)="help()" title="آموزش"><i nz-icon nzType="question-circle"
                    nzTheme="outline"></i></button>
        </li>
    </ul>
</nav>
<nav *ngIf="getImage()" [ngSwitch]="selectedTools">
    <!-- <ul class="tool-bar" *ngSwitchCase="0">

    </ul> -->
    <!-- Place -->
    <ul class="tool-bar place" *ngSwitchCase="1">
        <li>
            <button nz-button nzType="primary" (click)="newPlace()">افزودن بخش
                جدید</button>
        </li>
        <li class="col-md-2 col-sm-3 xol-xs-4 col-xxs-12">
            <nz-select class="w-100" [(ngModel)]="selectedPlace">
                <nz-option *ngFor="let item of PlacesNotCordinate" [nzLabel]="item.Name" [nzValue]="item">
                </nz-option>
            </nz-select>
        </li>
        <li>
            <button nz-button nzType="dashed" [disabled]="!selectedArea || !selectedPlace"
                (click)="setPlaceCordination(selectedPlace)">قراردادن بخش</button>
        </li>
    </ul>
    <!-- Station -->
    <ul class="tool-bar station" *ngSwitchCase="2">
        <li>
            <button nz-button nzType="primary" (click)="newStation()">افزودن ایستگاه
                جدید</button>
        </li>
        <li class="col-md-2 col-sm-3 xol-xs-4 col-xxs-12">
            <nz-select class="w-100" [(ngModel)]="selectedStation">
                <nz-option *ngFor="let item of StationsNotCordinate" [nzLabel]="item.Name" [nzValue]="item">
                </nz-option>
            </nz-select>
        </li>
        <li>
            <button nz-button nzType="dashed" [disabled]="!selectedArea || !selectedStation"
                (click)="setStationCordination(selectedStation)">قرار دادن ایستگاه</button>
        </li>
    </ul>
    <!-- Element -->
    <ul class="tool-bar element" *ngSwitchCase="3">
        <li>
            <button nz-button nzType="primary" (click)="newElement()">افزودن المان
                جدید</button>
        </li>
        <li class="col-md-2 col-sm-3 xol-xs-4 col-xxs-12">
            <nz-select class="w-100" [(ngModel)]="selectedElement">
                <nz-option *ngFor="let item of elements" [nzLabel]="item.Name" [nzValue]="item">
                </nz-option>
            </nz-select>
        </li>
        <li>
            <button nz-button nzType="dashed" [disabled]="!selectedArea || !selectedElement"
                (click)="setElementCordination(selectedElement)">قرار دادن المان</button>
        </li>
    </ul>
    <!-- Route -->
    <ul class="tool-bar route" *ngSwitchCase="4">
        <li>
            <button nz-button nzType="primary" (click)="newRoute()">افزودن مسیر جدید</button>
        </li>
        <li class="col-md-2 col-sm-3 xol-xs-4 col-xxs-12">
            <nz-select class="w-100" [(ngModel)]="selectedRoute" (ngModelChange)="selectedRouteChange()">
                <nz-option *ngFor="let item of routes" [nzLabel]="item.Code" [nzValue]="item">
                </nz-option>
            </nz-select>
        </li>
        <li class="hint">
            <span *ngIf="selectedRoute">مسیر انتخاب شده است. برای مسیریابی روی ایستگاه ها کلیک نمایید</span>
            <span *ngIf="!selectedRoute">مسیر مورد نظر را انتخاب نمایید</span>
        </li>
    </ul>
    <!-- CleaningArea -->
    <ul class="tool-bar cleaning-area" *ngSwitchCase="5">
        <li>
            <button nz-button nzType="primary" (click)="newCleaningArea()">افزودن محل رفت و روب جدید</button>
        </li>
        <li class="col-md-2 col-sm-3 xol-xs-4 col-xxs-12">
            <nz-select class="w-100" [(ngModel)]="selectedCleaningArea">
                <nz-option *ngFor="let item of CleaningAreasNotCordinate" [nzLabel]="item.Code" [nzValue]="item">
                </nz-option>
            </nz-select>
        </li>
        <li>
            <button nz-button nzType="dashed" [disabled]="!selectedArea || !selectedCleaningArea"
                (click)="setCleaningAreaCordination(selectedCleaningArea)">قراردادن محل رفت و روب</button>
        </li>
    </ul>
    <!-- <ul class="tool-bar eraser" *ngSwitchCase="6">

    </ul>
    <ul class="tool-bar move" *ngSwitchCase="7">

    </ul> -->
</nav>
<div class="content" *ngIf="getImage()">
    <nz-spin [nzSpinning]="isLoading" nzTip="در حال بارگزاری"></nz-spin>
    <div class="scroll-layer">
        <div class="items-layer" [ngClass]="{
            'select': selectedTools == 0,
            'draw-place': selectedTools == 1,
            'draw-station': selectedTools == 2,
            'draw-element': selectedTools == 3,
            'draw-route': selectedTools == 4,
            'draw-cleaning-area': selectedTools == 5,
            'eraser': selectedTools == 6,
            'move': selectedTools == 7,

            'place-selected': selectedPlace,
            'station-selected': selectedStation,
            'element-selected': selectedElement,
            'route-selected': selectedRoute,
            'cleaning-area-selected': selectedCleaningArea

        }" [style.width]="(scale * 100) + '%'">
            <img class="main-image" [src]="getImage()" alt="" (load)="loadended()">
            <svg width='100%' height='100%' (click)="onClickEvent($event)" (dblclick)="onDblClickEvent($event)"
                (mousedown)="onMouseDownEvent($event)" (mouseup)="onMouseUpEvent($event)"
                (mousemove)="onMouseMoveEvent($event)" (scroll)="onScrollEvent($event)">


                <g *ngFor="let item of items" class="item" [ngClass]="item.getClass()"
                    [innerHTML]="item.render() | safe" (mousedown)="onMouseDownItem(item, $event)"
                    (mouseup)="onMouseUpItem(item, $event)"></g>

                <rect *ngIf="selectedArea" fill="#044B94" fill-opacity="0.4" stroke="#224c71" stroke-width="2"
                    stroke-opacity="1" [attr.x]="selectedArea.x + '%'" [attr.y]="selectedArea.y + '%'"
                    [attr.width]="selectedArea.width + '%'" [attr.height]="selectedArea.height + '%'" />
            </svg>
        </div>
    </div>
</div>

<ng-template #newPlaceTpl>
    <app-place-create [parentId]="place?.Id" [obj]="newPlaceObj" (oncomplete)="newPlaceComplete($event)">
    </app-place-create>
</ng-template>

<ng-template #newStationTpl>
    <app-station-create [placeId]="place?.Id" [obj]="newStationObj" (oncomplete)="newStationComplete($event)">
    </app-station-create>
</ng-template>

<ng-template #newElementTpl>
    <app-element-create [obj]="newElementObj" (oncomplete)="newElementComplete($event)">
    </app-element-create>
</ng-template>

<ng-template #newRouteTpl>
    <app-route-create [placeId]="place?.Id" [place]="place" [obj]="newRouteObj" (oncomplete)="newRouteComplete($event)">
    </app-route-create>
</ng-template>

<ng-template #newCleaningAreaTpl>
    <app-cleaning-area-create [placeId]="place?.Id" [obj]="newCleaningAreaObj"
        (oncomplete)="newCleaningAreaComplete($event)">
    </app-cleaning-area-create>
</ng-template>