:host {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  &.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 10px;
    background-color: #f0f2f5;
  }
}

nav {

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    >li {
      display: flex;
      padding: 10px 0;
    }

    &.select-place>li {
      padding: 10px 5px;
    }

    button {
      line-height: 0;
    }
  }

  .select-place {
    display: flex;
    align-items: center;
    background-color: #fff;

    a {
      padding: 5px 0 5px 10px;
      line-height: 0;
    }

    nz-select {
      flex: 1;
    }
  }

  .tool-bar {
    margin: 5px 0;
    padding: 0 5px;
    min-height: 48px;
    border: 1px solid #ccc;
    background-color: #fff;

    &.route {
      .hint {
        span {
          display: flex;
          align-items: center;
          padding: 0 10px;
        }
      }
    }
  }
}

.content {
  flex: 1;
  display: block;
  max-width: 100%;
  margin-top: 5px;
  position: relative;
  border: 1px solid #ccc;

  >nz-spin {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.scroll-layer {
  overflow: auto;
}

.items-layer {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;

  .main-image {
    width: 100%;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.select {
    cursor: crosshair;
  }

  &.draw-place {
    cursor: crosshair;
  }

  &.draw-station {
    cursor: cell;
  }

  &.draw-element {
    cursor: cell;
  }

  &.draw-route {
    &.route-selected {
      .station {
        cursor: cell;
      }
    }
  }

  &.draw-cleaning-area {
    cursor: crosshair;
  }

  &.eraser {
    .item {
      cursor: cell;
    }
  }

  &.move {
    cursor: move;
  }


}

::ng-deep {
  .item {
    &.station {
      stroke-dasharray: 1;
    }
  }
}
