<app-layout-table (onReload)="load()" (onCreate)="create()" [createTpl]="createTpl" [detailTpl]="detailTpl"
  [editTpl]="editTpl">
  <div style="margin-bottom: 10px;">
    <button nz-button nzType="default" (click)="load()">
      <i nz-icon nzType="reload" nzTheme="outline"></i> بارگزاری
    </button>
    <button nz-button nzType="primary" (click)="create()">
      <i nz-icon nzType="plus" nzTheme="outline"></i> ایجاد ردیف جدید
    </button>
  </div>
  <nz-table #table nzBordered nzShowSizeChanger nzSize="small" [nzFrontPagination]="false" [nzData]="items"
    [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzFooter]="getFooter()">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="50px" nzShowSort nzSortKey="Id">#</th>
        <th nzWidth="auto" nzShowSort nzSortKey="Code">کد</th>
        <th nzWidth="60px" nzShowSort nzSortKey="IsActive">فعال</th>
        <th nzWidth="100px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of table.data; let index = index">
        <td>{{ (pageIndex - 1) * pageSize + index + 1 }}</td>
        <td>{{ item.Code }}</td>
        <td class="text-center">
          <nz-form-control>
            <label nz-checkbox [(ngModel)]="item.IsActive" nzDisabled></label>
          </nz-form-control>
        </td>
        <td>
          <a nz-button nzType="primary" nz-tooltip nzTooltipTitle="ویرایش" (click)="edit(item)">
            <i nz-icon nzType="edit"></i>
          </a>
          <a nz-button nzType="danger" nz-tooltip nzTooltipTitle="حذف" nz-popconfirm
            nzPopconfirmTitle="آیا از حذف این ردیف اطمینان دارید؟" (nzOnConfirm)="remove(item)">
            <i nz-icon nzType="delete"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</app-layout-table>

<ng-template #createTpl>
  <app-route-create [placeId]="placeId" [place]="place" [obj]="selectedItem" (oncomplete)="created($event)">
  </app-route-create>
</ng-template>
<ng-template #editTpl>
  <app-route-edit [id]="id" [place]="place" [obj]="selectedItem" (oncomplete)="edited($event)"></app-route-edit>
</ng-template>
<ng-template #detailTpl>
  <app-route-detail [id]="id" [obj]="selectedItem" (oncomplete)="detailed()"></app-route-detail>
</ng-template>