<form nz-row nzType="flex" [formGroup]="form" class="px-20">
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">عنوان</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required readonly/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="f.Image">
        <nz-form-control nzHasFeedback [nzSm]="24" [nzXs]="24">
            <img style="width: 100%" [src]="f.Image"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Type">نوع</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-select formControlName="Type" id="Type" required nzDisabled>
                <nz-option *ngFor="let item of types" [nzLabel]="item.value" [nzValue]="item.key"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive" nzDisabled>
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
</form>