<nz-card>
  <app-layout-table (onReload)="load()">
    <div style="margin-bottom: 10px;">
      <button nz-button nzType="default" (click)="load()">
        <i nz-icon nzType="reload" nzTheme="outline"></i> بارگزاری
      </button>
    </div>
    <nz-table #table nzBordered nzShowSizeChanger nzSize="small" [nzFrontPagination]="false" [nzData]="items"
      [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzFooter]="getFooter()">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzWidth="50px" nzShowSort nzSortKey="Id">#</th>
          <th nzWidth="auto" nzShowSort nzSortKey="Name">نام</th>
          <th nzWidth="200px" nzShowSort nzSortKey="Username">نام کاربری</th>
          <th nzWidth="230px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of table.data; let index = index">
          <td>{{item.Id}}</td>
          <td>
            <div *ngIf="item.Thumbnail; else elseBlock">
              <a class="color-blue" nz-popover [nzPopoverContent]="contentTemplate">{{ item.Name }}</a>
              <ng-template #contentTemplate>
                <img class="thumbnail" [src]="item.Thumbnail" alt="">
              </ng-template>
            </div>
            <ng-template #elseBlock>
              {{ item.Name }}
            </ng-template>
          </td>
          <td>{{ item.Username }}</td>
          <td>
            <a nz-button nzType="primary" nz-tooltip (click)="showUserPlace(item)">
              محل فعالیت
            </a>
            <a nz-button nzType="dashed" nz-tooltip (click)="showUserUseType(item)">
              نوع کاربری
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </app-layout-table>
</nz-card>

<ng-template #userPlaceTpl>
  <app-user-place [obj]="selectedItem"></app-user-place>
</ng-template>
<ng-template #userUseTypeTpl>
  <app-user-use-type [obj]="selectedItem"></app-user-use-type>
</ng-template>