<nav class="card">
    <ul class="row">
        <li [ngClass]="placeClass" class="px-5" *ngFor="let item of selectedPlaces">
            <input nz-input type="text" [ngModel]="item.Name" disabled />
            <a *ngIf="LastSelectedPlace == item" (click)="selectPrePlace()">
                <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
            </a>
        </li>
        <li [ngClass]="placeClass" *ngIf="Places.length">
            <nz-select (ngModelChange)="selectPlace($event)" [compareWith]="placeCompare"
                [(ngModel)]="selectedPlace">
                <nz-option *ngFor="let item of Places" [nzLabel]="item.Name" [nzValue]="item"></nz-option>
            </nz-select>
        </li>
    </ul>
</nav>
<nav *ngIf="src" class="card">
    <ul>
        <li>
            <button nz-button nzType="dashed" (click)="zoomIn()"><i nz-icon nzType="zoom-in"
                    nzTheme="outline"></i></button>
        </li>
        <li>
            <nz-select [(ngModel)]="scale" (ngModelChange)="zoomChange()">
                <nz-option *ngFor="let item of scales" [nzLabel]="(item*100) + '%'" [nzValue]="item"></nz-option>
            </nz-select>
        </li>
        <li>
            <button nz-button nzType="dashed" (click)="zoomOut()"><i nz-icon nzType="zoom-out"
                    nzTheme="outline"></i></button>
        </li>
        <li></li>
        <li></li>
    </ul>
</nav>
<div *ngIf="src" class="map card">
    <app-map-viewer 
        [isLoading]="isLoading" 
        [src]="src" 
        [scale]="scale"
        [items]="items" 
        (onloadstart)="onloadstart()"
        (onloadend)="onloadend()"></app-map-viewer>
</div>