:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  min-height: 48px;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: #fff;

  ul {
    flex: 1;
    margin: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    list-style: none;

    li {
      padding: 7px 5px;
      display: flex;
      align-items: center;

      input,
      nz-select {
        flex: 1;
      }
      >a {
        padding-right: 10px;
        line-height: 0;
      }
    }
  }
}

.map {
  flex: 1;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}


::ng-deep {

  .item {
    &.station.selected>ellipse {
      fill: #b4fb34;
    }
  }
}
