:host {
  width: 100%;
  height: 100%;
  display: block;
}

table {
  width: 100%;
}

thead {
  background-color: #f3f3f3;
}

td,
th {
  width: 14.28%;
  height: 120px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
}

td {}

.day {
  font-size: 20px;

  >* {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  >span {
    opacity: .4;
  }

  >a {
    &:hover {
      background-color: #f6f6f6;
    }

    .tooltip {
      font-size: 14px;
    }
  }

  &.hasTooltip {
    background-color: #f9f9f9;
  }
}
