<div nz-row nzType="flex">
    <div class="pl-10" nz-col nzXXl="6" nzXl="8" nzLg="10" nzXs="24">
        <div class="card">
            <h3 class="pr-10 pt-10"><b>وظیفه امروز</b></h3>
            <hr>
            <ul>
                <li>شیفت : </li>
                <li>دوره تخلیه : </li>
                <li>سرشیفت : </li>
                <li>ساعت استراحت : </li>
                <li>شماره تماس سر شیفت : </li>
                <li>چرخ دستی : </li>
            </ul>
        </div>
        <div class="card mt-10 containers">
            <h3 class="pr-10 pt-10"><b>تحویل و دریافت ظروف</b></h3>
            <hr>
            <div class="row px-5 pb-5">
                <div class="col-xxs-6 p-5">
                    <table class="table bordered striped">
                        <thead>
                            <tr>
                                <th width="50%">ظروف قابل تحویل</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of userContainers">
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!userContainers?.length">
                            <tr>
                                <td>ظرفی در دسترس نیست</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xxs-6 p-5">
                    <table class="table bordered striped">
                        <thead>
                            <tr>
                                <th width="50%">ظروف قابل دریافت</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of stationContainers">
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!stationContainers?.length">
                            <tr>
                                <td>ظرفی در دسترس نیست</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row px-5 pb-5">
                <div class="col-xxs-6 p-5">
                    <a class="m-0" nz-button nzType="primary" nzBlock>
                        <span>تحویل ظرف</span>
                        <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
                    </a>
                </div>
                <div class="col-xxs-6 p-5">
                    <a class="m-0" nz-button nzType="default" nzBlock>
                        <span>دریافت ظرف</span>
                        <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card mt-10">
            <h3 class="pr-10 pt-10"><b>برنامه ریزی تعویض</b></h3>
            <hr>
            <table class="table bordered striped">
                <tbody>
                    <tr *ngFor="let item of requests">
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div nz-col nzXXl="18" nzXl="16" nzLg="14" nzXs="24">
        <app-layout-map [enablePlaces]="true" [enableStations]="true"
            place-class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-xxs-12"></app-layout-map>
    </div>
</div>