.containers {
  thead {
    background-color: #d9ffb1;

    th {
      border: 1px solid #ccc;
    }
  }

  tbody {
    td {
      text-align: center;
      border: 1px solid rgb(223, 223, 223);
    }
  }
}
