<form nz-row nzType="flex" [formGroup]="form" (submit)="submit()" autocomplete="off">
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">نام آسانسور</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24" formGroupName="Place">
        <nz-form-label nzXXl="6" nzXl="6" nzXs="8" nzRequired nzFor="Id">محل قرارگیری</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="4" nzXl="3" nzXs="4" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Id" id="Id" required readonly/>
        </nz-form-control>
        <nz-form-label nzXs="1"></nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="7" nzXl="6" nzXs="6" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required readonly/>
        </nz-form-control>
        <nz-form-control nzHasFeedback nzXXl="5" nzXl="7" nzXs="4">
            <a nz-button nzType="primary" (click)="choose()" nzBlock>انتخاب</a>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive">
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzSpan="24">
        <div class="buttons" nz-row nzType="flex">
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">ثبت</button>
            </div>
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="default" type="button" nzBlock (click)="cancel()">انصراف</button>
            </div>
        </div>
    </div>
</form>

<ng-template #chooseTpl>
    <app-choose-place (oncomplete)="chooseComplete($event)"></app-choose-place>
</ng-template>
