:host {
  display: flex;
  width: 100%;
}

.drive-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}
:host.full-screen {
  position: fixed;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  z-index: 10000;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.67);
  .drive-container {
    width: 100%;
    height: 100%;
  }
}

.header {
  display: flex;
  padding: 15px;

  .title {
    flex: 1;
    color: #444;
    font-size: 20px;
  }
  .close {
    font-size: 18px;
  }
}
.tabs {
  padding: 0 15px;
  z-index: 1;
  border-bottom: 1px solid #e1e1e1;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    color: #222;
    border-bottom: 2px solid transparent;

    &.active {
      font-weight: bold;
      color: #262626;
      border-bottom-color: #4d90fe;
    }

    a {
      padding: 10px 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.body {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
  > * {
    flex: 1;
    height: 65vh;
    box-shadow: inset 0 1px 5px 1px #e1e1e1;
  }
}
.footer {
  padding: 15px;
  border-top: 1px solid #e1e1e1;

  > * {
    box-shadow: none;
    border-radius: 2px;
    cursor: default;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    opacity: .9;
    cursor: pointer;
    padding: 7px 12px;
  }
  .insert {
    color: #fff;
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);

    &:hover {opacity: 1;}
    &:active {opacity: .95;}
    &.disabled {
      cursor: default;
      opacity: .3 !important;
    }
  }
  .cancel {
    color: #444;
    box-shadow: none;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

::ng-deep .icon {
  &.directory {background-image: url(./images/types/directory.png);}
  &.doc {background-image: url(./images/types/doc.png);}
  &.image {background-image: url(./images/types/image.png);}
  &.spreadsheet {background-image: url(./images/types/spreadsheet.png);}
  &.unknown {background-image: url(./images/types/unknown.png);}
  &.video {background-image: url(./images/types/video.png);}
  &.html {background-image: url(./images/types/html.png);}
  &.css {background-image: url(./images/types/css.png);}
  &.xml {background-image: url(./images/types/xml.png);}
  &.json {background-image: url(./images/types/json.png);}
  &.typescript {background-image: url(./images/types/typescript.png);}
  &.java {background-image: url(./images/types/java.png);}
  &.python {background-image: url(./images/types/python.png);}
  &.php {background-image: url(./images/types/php.png);}
  &.csharp {background-image: url(./images/types/csharp.png);}
  &.javascript {background-image: url(./images/types/javascript.png);}
  &.text {background-image: url(./images/types/text.png);}
  &.photoshop {background-image: url(./images/types/photoshop.png);}
  &.pdf {background-image: url(./images/types/pdf.png);}
  &.audio {background-image: url(./images/types/audio.png);}
  &.zip {background-image: url(./images/types/zip.png);}
}