<div class="drive-container">
    <div class="header">
        <div class="title">Insert File From Bitspco Upload Center</div>
        <div class="close"><a (click)="cancel()">&times;</a></div>
    </div>
    <div class="tabs">
        <ul>
            <li [ngClass]="{active: (tab == 'explorer')}"><a (click)="tab = 'explorer'">Explorer</a></li>
            <li [ngClass]="{active: (tab == 'shared')}"><a (click)="tab = 'shared'">Shared With Me</a></li>
            <li [ngClass]="{active: (tab == 'recent')}"><a (click)="tab = 'recent'">Recent</a></li>
            <li [ngClass]="{active: (tab == 'upload')}"><a (click)="tab = 'upload'">Upload</a></li>
        </ul>
    </div>
    <div class="body" [ngSwitch]="tab">
        <app-explorer *ngSwitchCase="'explorer'" [uploader]="uploader"></app-explorer>
        <app-shared *ngSwitchCase="'shared'" [uploader]="uploader"></app-shared>
        <app-recent *ngSwitchCase="'recent'" [uploader]="uploader"></app-recent>
        <app-upload *ngSwitchCase="'upload'" [uploader]="uploader"></app-upload>
    </div>
    <div class="footer">
        <a class="insert" (click)="oninserting()" [ngClass]="{disabled: (!uploader.selectedItem)}">Insert</a>
        <a class="cancel" (click)="cancel()">Cancel</a>
    </div>
</div>