<div class="content-box" [ngClass]="{close:(state && mode == '')}">
  <ng-content></ng-content>
</div>
<div class="state-box" *ngIf="mode == '' && state">
  <div class="back">
    <a nz-button nzType="primary" (click)="showList()">نمایش لیست اطلاعات <i nz-icon nzType="left" nzTheme="outline"></i></a>
  </div>
  <div class="states" [ngSwitch]="state">
    <ng-container *ngSwitchCase="'create'">
      <h2 class="p-5">افزودن ردیف جدید</h2>
      <hr>
      <ng-container *ngTemplateOutlet="createTpl; context: createContext"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <h2 class="p-5">نمایش جزئیات</h2>
      <hr>
      <ng-container *ngTemplateOutlet="detailTpl; context: editContext"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'edit'">
      <h2 class="p-5">ویرایش اطلاعات</h2>
      <hr>
      <ng-container *ngTemplateOutlet="editTpl; context: detailContext"></ng-container>
    </ng-container>
  </div>
</div>