@media screen and (min-width: 992px) {
    .end-time {
      justify-content: flex-end;
    }
  }
  
  @media screen and (max-width: 992px) {
    .spacer {
      display: none !important;
    }
  }
  