<form nz-row nzType="flex" [formGroup]="form" (submit)="submit()" autocomplete="off" class="px-20">
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">نوع روز</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="spacer" nz-col nzXs="12"></nz-form-item>
    <nz-form-item class="start-time" nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="StartDate">زمان شروع</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="3" nzXl="5" nzXs="12" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-time-picker formControlName="StartDate" nzMinuteStep="5" nzFormat="HH:mm" id="StartDate">
            </nz-time-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="end-time" nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="EndDate">زمان پایان</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="3" nzXl="5" nzXs="12" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-time-picker formControlName="EndDate" nzMinuteStep="5" nzFormat="HH:mm" id="EndDate">
            </nz-time-picker>
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzXs="24" *ngIf="f.StartTime && f.EndTime">
        <app-time-splitter [items]="timeSplits" [startTime]="f.StartTime" [endTime]="f.EndTime"
            (onSplit)="onSplit($event)"></app-time-splitter>
    </div>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Color">رنگ</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-select formControlName="Color" id="Color" required>
                <nz-option *ngFor="let item of colors" [nzLabel]="item.Name" [nzValue]="item.Code"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive">
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzSpan="24">
        <div class="buttons" nz-row nzType="flex">
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">ثبت</button>
            </div>
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="default" type="button" nzBlock (click)="cancel()">انصراف</button>
            </div>
        </div>
    </div>
</form>

<ng-template #split>
    <nz-form-item>
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="DayPartName">نوع قطعه روز</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-select [(ngModel)]="partName" id="DayPartName" required>
                <nz-option *ngFor="let item of partNames" [nzLabel]="item.Name" [nzValue]="item"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
</ng-template>