<form nz-row nzType="flex" [formGroup]="form">
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">نوع ظرف</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Color">رنگ</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <span class="color-box" [style.backgroundColor]="form.get('Color').value"></span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24" formGroupName="WasteType">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="WasteTypeId">نوع پسماند</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="WasteTypeId" readonly />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Capacity">ظرفیت</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input type="number" formControlName="Capacity" id="Capacity" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="LongLife">طول عمر</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input type="number" formControlName="LongLife" id="LongLife" required />
        </nz-form-control>
    </nz-form-item>
</form>