<form [formGroup]="form">
    <nz-form-item *ngIf="f?.Parent?.Name" formGroupName="Parent">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">کاربری پدر</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" readonly/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzXXl="3" nzXl="6" nzXs="24" nzRequired nzFor="Name">نوع کاربری</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="20" nzXl="17" nzXs="24" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" readonly />
        </nz-form-control>
    </nz-form-item>
</form>