<form nz-row nzType="flex" class="px-20" [formGroup]="form">
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">نوع روز</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" readonly />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Color">رنگ</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <span class="color-box" [style.backgroundColor]="f.Color"></span>
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzSpan="24">
        <div nz-row nzType="flex">
            <div nz-col [nzXXl]="4" [nzXl]="5" [nzLg]="6" [nzMd]="8" [nzSm]="10" [nzXs]="12">
                <nz-form-item class="m-0">
                    <nz-form-control nzHasFeedback nzLg="12" nzXs="24" nzErrorTip="مقدار وارد شده معتبر نیست">
                        <nz-time-picker formControlName="StartDate" nzMinuteStep="5" nzFormat="HH:mm" id="StartDate"
                            nzDisabled>
                        </nz-time-picker>
                    </nz-form-control>
                    <nz-form-label nzLg="12" nzXs="24" nzRequired nzFor="StartDate">زمان شروع</nz-form-label>
                </nz-form-item>
            </div>
            <div nz-col [nzXXl]="16" [nzXl]="14" [nzLg]="12" [nzMd]="8" [nzSm]="4" [nzXs]="24"></div>
            <div nz-col [nzXXl]="4" [nzXl]="5" [nzLg]="6" [nzMd]="8" [nzSm]="10" [nzXs]="12">
                <nz-form-item class="m-0">
                    <nz-form-label nzLg="12" nzXs="24" nzRequired nzFor="EndDate" style="justify-content: flex-end;">زمان پایان
                    </nz-form-label>
                    <nz-form-control nzHasFeedback nzLg="12" nzXs="24" nzErrorTip="مقدار وارد شده معتبر نیست">
                        <nz-time-picker formControlName="EndDate" nzMinuteStep="5" nzFormat="HH:mm" id="EndDate"
                            nzDisabled>
                        </nz-time-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div *ngIf="f.StartTime && f.EndTime">
            <app-time-splitter [items]="timeSplits" [startTime]="f.StartTime" [endTime]="f.EndTime" disabled>
            </app-time-splitter>
        </div>
    </div>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive" nzDisabled>
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
</form>