<app-layout-map [place]="place" [enablePlaces]="true" [enableStations]="true" (onstation)="onstation($event)"
    (onback)="onback()"></app-layout-map>

<ng-template #inspectionTpl>
    <form (submit)="submit()">
        <ul class="indices">
            <li *ngFor="let parent of indices" [ngClass]="getIndexGradeClass(parent)" #li>
                <a (click)="toggle(li)">
                    <span class="arrow">
                        <span class="bg"
                            [attr.data-grade]="(getIndexGrade(parent) > 0 ? '+' : (getIndexGrade(parent) == 0 ? '' : '-')) + getIndexGrade(parent).toFixed(2)"
                            [style.opacity]="getIndexGradeOpacity(parent)"></span>
                    </span>
                    <span class="text">{{parent.Name}}</span>
                </a>
                <ul *ngIf="parent.Children?.length">
                    <li *ngFor="let child of parent.Children">
                        <span class="text">{{child.Name}}</span>
                        <span class="score">
                            <a [ngClass]="{active: checkInspection(child.Id, 1)}" class="good"
                                (click)="setInspection(child.Id, 1)">خوب</a>
                            <a [ngClass]="{active: checkInspection(child.Id, 0)}" class="normal"
                                (click)="setInspection(child.Id, 0)">معمولی</a>
                            <a [ngClass]="{active: checkInspection(child.Id, -1)}" class="bad"
                                (click)="setInspection(child.Id, -1)">بد</a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
        <div nz-row nzType="flex">
            <div class="p-10" nz-col nzLg="12" nzXs="24">
                <button type="submit" nz-button nzType="primary" nzBlock [disabled]="isCreatingInspection" [nzLoading]="isCreatingInspection">ثبت بازرسی</button>
            </div>
            <div class="p-10" nz-col nzLg="12" nzXs="24">
                <button type="button" nz-button nzType="default" nzBlock (click)="close()">انصراف</button>
            </div>
        </div>
    </form>
</ng-template>