.indices {
  display: flex;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  flex-direction: column;
  padding-left: 50px;

  >li {
    margin-top: 10px;
    min-height: 34px;
    position: relative;
    border-radius: 5px 8px 8px 5px;
    border: 2px solid #9a9a9a;

    .arrow {
      top: -2px;
      left: -50px;
      width: 50px;
      height: 60px;
      display: block;
      position: absolute;
      box-sizing: border-box;
      background-color: #9a9a9a;
      clip-path: polygon(50% 33%, 100% 0, 100% 66%, 50% 100%, 0 66%, 0 0);

      .bg {
        top: 4px;
        left: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 6px);
        display: flex;
        direction: ltr;
        position: absolute;
        align-items: center;
        justify-content: center;
        transition: all 300ms ease;
        background-color: #1f73c3;
        clip-path: polygon(50% 36%, 100% 0, 100% 66%, 50% 100%, 0 66%, 0 0);

        &:after {
          content: attr(data-grade);
          color: #fff;
          font-size: 18;
          margin-top: 5px;
        }
      }

    }

    >a {
      padding: 8px 10px;
      display: flex;
    }

    &.open {
      >ul {
        display: flex;
      }
    }

    &.verygood .arrow .bg {
      background-color: #01a26e;
    }

    &.good .arrow .bg {
      background-color: #014ca2;
    }

    &.normal .arrow .bg {
      background-color: #ffffff;
    }

    &.bad .arrow .bg {
      background-color: #ff7300;
    }
    &.verybad .arrow .bg {
      background-color: #f54747;
    }
  }

  ul {
    padding: 10px 0;
    display: none;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    border-top: 2px solid #9a9a9a;

    li {
      width: 33%;
      padding: 5px;

      >span {
        display: flex;
        align-items: center;
      }

      .text {
        flex: 1;
        margin: 5px 10px 5px;
      }

      .score {
        display: flex;
        margin: 5px 20px 0;
        border-radius: 5px;
        border: 1px solid #ccc;

        >a {
          flex: 1;
          padding: 3px;
          font-size: 12px;
          text-align: center;
          transition: all 300ms ease;
        }

        .good {
          border-left: 1px solid #ccc;

          &.active {
            color: #fff;
            background-color: #01a26e;
          }
        }

        .normal {
          border-left: 1px solid #ccc;

          &.active {
            color: #fff;
            background-color: #1f73c3;
          }
        }

        .bad {

          &.active {
            color: #fff;
            background-color: #f54747;
          }
        }
      }
    }
  }
}
