<form nz-row nzType="flex" [formGroup]="form" (submit)="submit()" autocomplete="off" class="px-20">
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">نام شیفت</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="RoleIds">گروه های کاربری</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-select nzMode="multiple" formControlName="RoleIds" id="RoleIds">
                <nz-option *ngFor="let item of roles" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="DayType">نوع روز</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-select formControlName="DayType" id="DayType" required>
                <nz-option *ngFor="let item of dayTypes" [nzLabel]="item.Name" [nzValue]="item"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzSpan="24">
        <div *ngIf="f.DayType">
            <app-time-splitter [items]="timeSplits" [startTime]="f.DayType.StartTime" [endTime]="f.DayType.EndTime"
                (onSplit)="onSplit($event)"></app-time-splitter>
        </div>
    </div>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive">
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzSpan="24">
        <div class="buttons" nz-row nzType="flex">
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">ثبت</button>
            </div>
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="default" type="button" nzBlock (click)="cancel()">انصراف</button>
            </div>
        </div>
    </div>
</form>

<ng-template #split>
    <nz-form-item>
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="DayPartName">نوع قطعه روز</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-select [(ngModel)]="partName" id="DayPartName" required>
                <nz-option *ngFor="let item of partNames" [nzLabel]="item.Name" [nzValue]="item"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
</ng-template>