<form nz-row nzType="flex" [formGroup]="form" (submit)="submit()" autocomplete="off" class="pt-20">
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label [nzSm]="11" nzRequired nzFor="DayTypeId">نوع روز</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="11" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-select formControlName="DayTypeId" id="DayTypeId" (ngModelChange)="dayTypeChanged()" nzRequired>
                <nz-option *ngFor="let item of dayTypes" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label [nzSm]="11" nzRequired nzFor="DayPartId">مقطع نوع روز</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="11" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-select formControlName="DayPartId" id="DayPartId" [nzLoading]="isLoadingParts"
                [nzDisabled]="!f.DayTypeId" nzRequired>
                <nz-option *ngFor="let item of dayParts"
                    [nzLabel]="item.DayPartName.Name + ' (' + item.StartTime + ' ~ ' + item.EndTime + ')'"
                    [nzValue]="item.Id"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label [nzSm]="11" nzRequired nzFor="DischargePeriod">دوره ی تخلیه (ساعت)</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="11" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input type="number" formControlName="DischargePeriod" id="DischargePeriod" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label [nzSm]="11" nzRequired nzFor="SwapPeriod">دوره تعویض (ساعت)</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="11" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input type="number" formControlName="SwapPeriod" id="SwapPeriod" required />
        </nz-form-control>
    </nz-form-item>
    <fieldset nz-col nzSpan="24" formArrayName="Items">
        <legend>برنامه ی رفت و روب</legend>
        <hr>
        <div nz-row nzType="flex">
            <div nz-col nzLg="12" nzXs="24" class="px-20">
                <button type="button" nz-button nzBlock nzType="primary" (click)="addNormalCleaningItem()">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    افزودن برنامه ی رفت و روب معمولی
                </button>
                <ng-container *ngFor="let item of getItems()">
                    <nz-form-item *ngIf="item.value.Type == 1" nz-col nzSpan="24" [formGroup]="item">
                        <nz-form-label [nzSm]="10" nzRequired nzFor="NormalDate">ساعت</nz-form-label>
                        <nz-form-control nzHasFeedback [nzSm]="12" nzErrorTip="مقدار وارد شده معتبر نیست">
                            <nz-time-picker formControlName="Date" nzMinuteStep="5" nzFormat="HH:mm" id="NormalDate">
                            </nz-time-picker>
                        </nz-form-control>
                        <nz-form-control [nzSm]="2">
                            <a class="remove-item" (click)="removeItem(item)">
                                <i nz-icon nzType="close" nzTheme="outline"></i>
                            </a>
                        </nz-form-control>
                    </nz-form-item>
                </ng-container>
            </div>
            <div nz-col nzLg="12" nzXs="24" class="px-20">
                <button type="button" nz-button nzBlock nzType="primary" (click)="addMinorCleaningItem()">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    افزودن برنامه ی رفت و روب جزئی
                </button>
                <ng-container *ngFor="let item of getItems()">
                    <nz-form-item *ngIf="item.value.Type == 2" nz-col nzSpan="24" [formGroup]="item">
                        <nz-form-label [nzSm]="10" nzRequired nzFor="NormalDate">ساعت</nz-form-label>
                        <nz-form-control nzHasFeedback [nzSm]="12" nzErrorTip="مقدار وارد شده معتبر نیست">
                            <nz-time-picker formControlName="Date" nzMinuteStep="5" nzFormat="HH:mm" id="NormalDate">
                            </nz-time-picker>
                        </nz-form-control>
                        <nz-form-control [nzSm]="2">
                            <a class="remove-item" (click)="removeItem(item)">
                                <i nz-icon nzType="close" nzTheme="outline"></i>
                            </a>
                        </nz-form-control>
                    </nz-form-item>
                </ng-container>
            </div>
        </div>
        <div nz-row nzType="flex">
        </div>
    </fieldset>
    <div nz-col nzSpan="24">
        <hr>
    </div>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label [nzSm]="5" nzRequired nzFor="Description">توضیحات</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="18" nzErrorTip="مقدار وارد شده معتبر نیست">
            <textarea nz-input formControlName="Description" id="Description"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive">
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzSpan="24">
        <div class="buttons" nz-row nzType="flex">
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">ثبت</button>
            </div>
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="default" type="button" nzBlock (click)="cancel()">انصراف</button>
            </div>
        </div>
    </div>
</form>