<nz-card>
    <app-layout-table (onReload)="load()">
        <div style="margin-bottom: 10px;">
            <button nz-button nzType="default" (click)="load()">
                <i nz-icon nzType="reload" nzTheme="outline"></i> بارگزاری
            </button>
            <button nz-button nzType="primary" (click)="create()">
                <i nz-icon nzType="plus" nzTheme="outline"></i> ایجاد ردیف جدید
            </button>
        </div>
        <nz-table #table nzBordered nzShowSizeChanger nzSize="small" [nzFrontPagination]="false" [nzData]="items"
            [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzFooter]="getFooter()">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
                <tr>
                    <th nzWidth="50px" nzShowSort nzSortKey="Id">#</th>
                    <th nzWidth="auto" nzShowSort nzSortKey="Description">توضیحات</th>
                    <th nzWidth="100px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of table.data; let index = index">
                    <td>{{ (pageIndex - 1) * pageSize + index + 1 }}</td>
                    <td>{{ item.Description }}</td>
                    <td class="text-center">
                        <nz-form-control>
                            <label nz-checkbox [(ngModel)]="item.IsActive" nzDisabled></label>
                        </nz-form-control>
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </app-layout-table>
</nz-card>