.card {
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 3px rgba(0, 21, 41, 0.08);

  >.header {
    padding: 10px 15px;
    background-color: #f0f0f0;
  }

  >.content {
    padding: 20px;
  }
}
