<form nz-row nzType="flex" [formGroup]="form" (submit)="submit()" autocomplete="off">
    <nz-form-item nz-col nzLg="11" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">نام المان</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="8" nzXs="6" nzRequired nzFor="Image">تصویر المان</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="9" nzXl="8" nzXs="10" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Image" id="Image" required />
        </nz-form-control>
        <nz-form-control nzXXl="7" nzXl="6" nzXs="6">
            <a nz-button nzType="primary" nzBlock (click)="choose()">انتخاب</a>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="1" nzXs="24">
        <nz-form-control nzXs="20" *ngIf="f.Image">
            <img class="image" [src]="f.Image" alt="">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive">
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzSpan="24">
        <div class="buttons" nz-row nzType="flex">
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">ثبت</button>
            </div>
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="default" type="button" nzBlock (click)="cancel()">انصراف</button>
            </div>
        </div>
    </div>
</form>

<app-uploader *ngIf="chooseFlag" class="full-screen" [uploader]="uploader" (oncomplete)="chooseComplete($event)"></app-uploader>