<form nz-row nzType="flex" [formGroup]="form" (submit)="submit()" autocomplete="off">
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Code">کد مسیر</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Code" id="Code" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzFor="ElevatorId">آسانسور</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-select formControlName="ElevatorId" id="ElevatorId">
                <nz-option *ngFor="let item of getElevators()" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive">
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzSpan="24">
        <div class="buttons" nz-row nzType="flex">
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">ثبت</button>
            </div>
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="default" type="button" nzBlock (click)="cancel()">انصراف</button>
            </div>
        </div>
    </div>
</form>