<form *ngIf="form" class="body" [formGroup]="form" (submit)="submit()" autocomplete="off">
    <div class="thumbnail p-5" nz-col nzSpan="6">
        <nz-card class="px-10">
            <button nz-button nzBlock nzType="primary" [nzLoading]="progress">ذخیره تغییرات</button>
        </nz-card>
        <nz-card class="mt-10">
            <div class="image" [style.backgroundImage]="(f.Thumbnail ? 'url('+f.Thumbnail+')' : null)"></div>
            <div class="my-15" style="text-align: center;">
                <a nz-button nzType="primary" (click)="chooseFile('thumbnail')">انتخاب تصویر</a>
            </div>
        </nz-card>
    </div>
    <div class="info p-5">
        <nz-card>
            <h2>اطلاعات هویتی</h2>
            <hr>
            <div nz-row nzType="flex">
                <nz-form-item nz-col nzLg="12" nzXs="24">
                    <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Firstname">نام</nz-form-label>
                    <nz-form-control nzHasFeedback nzXXl="16" nzXl="12" nzXs="12"
                        nzErrorTip="مقدار وارد شده معتبر نیست">
                        <input nz-input formControlName="Firstname" id="Firstname" required />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzLg="12" nzXs="24">
                    <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Lastname">نام خانوادگی
                    </nz-form-label>
                    <nz-form-control nzHasFeedback nzXXl="16" nzXl="12" nzXs="12"
                        nzErrorTip="مقدار وارد شده معتبر نیست">
                        <input nz-input formControlName="Lastname" id="Lastname" required />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzLg="12" nzXs="24">
                    <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="NationalCode">کد ملی</nz-form-label>
                    <nz-form-control nzHasFeedback nzXXl="16" nzXl="12" nzXs="12"
                        nzErrorTip="مقدار وارد شده معتبر نیست">
                        <input nz-input formControlName="NationalCode" id="NationalCode" required />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzLg="12" nzXs="24"></nz-form-item>
                <nz-form-item nz-col nzLg="12" nzXs="24">
                    <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="StartTime">زمان شروع کار
                    </nz-form-label>
                    <nz-form-control nzHasFeedback nzXXl="16" nzXl="12" nzXs="12"
                        nzErrorTip="مقدار وارد شده معتبر نیست">
                        <input nz-input formControlName="StartTime" id="StartTime" readonly />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzLg="12" nzXs="24">
                    <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="EndTime">زمان پایان کار
                    </nz-form-label>
                    <nz-form-control nzHasFeedback nzXXl="16" nzXl="12" nzXs="12"
                        nzErrorTip="مقدار وارد شده معتبر نیست">
                        <input nz-input formControlName="EndTime" id="EndTime" readonly />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzLg="12" nzXs="24">
                    <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Telephone">شماره تماس ثابت
                    </nz-form-label>
                    <nz-form-control nzHasFeedback nzXXl="16" nzXl="12" nzXs="12"
                        nzErrorTip="مقدار وارد شده معتبر نیست">
                        <input nz-input formControlName="Telephone" id="Telephone" required />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzLg="12" nzXs="24">
                    <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Cellphone">شماره تلفن همراه
                    </nz-form-label>
                    <nz-form-control nzHasFeedback nzXXl="16" nzXl="12" nzXs="12"
                        nzErrorTip="مقدار وارد شده معتبر نیست">
                        <input nz-input formControlName="Cellphone" id="Cellphone" required />
                    </nz-form-control>
                </nz-form-item>
                <div nz-col nzSpan="24">
                    <hr>
                </div>
                <nz-form-item nz-col nzLg="12" nzXs="24">
                    <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="BrandName">نام برند</nz-form-label>
                    <nz-form-control nzHasFeedback nzXXl="16" nzXl="12" nzXs="12"
                        nzErrorTip="مقدار وارد شده معتبر نیست">
                        <input nz-input formControlName="BrandName" id="BrandName" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzLg="12" nzXs="24">
                    <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="BrandLogo">تصویر لوگو</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSm]="12" nzErrorTip="مقدار وارد شده معتبر نیست">
                        <input nz-input formControlName="BrandLogo" id="BrandLogo" />
                    </nz-form-control>
                    <nz-form-control [nzSm]="4">
                        <a nz-button nzType="primary" (click)="chooseFile('brand')">انتخاب تصویر</a>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </nz-card>
    </div>
</form>
<nz-card class="mt-10">
    <h2>ده ورود آخر</h2>
    <hr>
    <div class="logins">
        <nz-table #tokenTable nzBordered [nzFrontPagination]="false" [nzData]="tokens">
            <thead>
                <tr>
                    <th>#</th>
                    <th>زمان ورود</th>
                    <th>آی پی</th>
                    <th>دستگاه</th>
                    <th>سیستم عامل</th>
                    <th>نرم افزار</th>
                    <th>زمان آخرین درخواست</th>
                    <th>زمان انقضا</th>
                    <th>وضعیت</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tokenTable.data; let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{item.JCreationTime}}</td>
                    <td>{{item.Ip}}</td>
                    <td>{{item.DeviceFamily ? item.DeviceFamily : '-'}}</td>
                    <td>{{item.OSFamily}}
                        {{item.OSMajor}}{{item.OSMinor ? '.' + item.OSMinor : ''}}{{item.OSPatch ? '.' + item.OSPatch : ''}}{{item.OSPatchMinor ? '.' + item.OSPatchMinor : ''}}
                    </td>
                    <td>{{item.UserAgentFamily}}
                        {{item.UserAgentMajor}}{{item.UserAgentMinor ? '.' + item.UserAgentMinor : ''}}{{item.UserAgentPatch ? '.' + item.UserAgentPatch : ''}}
                    </td>
                    <td>{{item.JLastRequestTime}}</td>
                    <td>{{item.JExpireTime}}</td>
                    <td [innerHTML]="item.getStatusHtml()"></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</nz-card>

<app-uploader *ngIf="uploadName" class="full-screen" [uploader]="uploader" (oncomplete)="chooseFileComplete($event)">
</app-uploader>