form.body {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  width: 300px;

  .image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 50%;
    border: 1px solid #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.info {
  flex: 1;
}

.logins {
  overflow: auto;
}

@media screen and (max-width: 992px) {
  .thumbnail {
    width: 100%;
  }

  .info {
    width: 100%;
  }
  .logins {
    width: calc(100vw - 180px);
   th:nth-child(4),th:nth-child(5),th:nth-child(6),
   td:nth-child(4),td:nth-child(5),td:nth-child(6) {
     display: none;
   }
  }
}
