<form nz-row nzType="flex" [formGroup]="form">
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">نام آسانسور</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required readonly/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item formGroupName="Place">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Id">محل قرارگیری</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="4" [nzXs]="24" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Id" id="Id" required readonly />
        </nz-form-control>
        <nz-form-label [nzSm]="1" [nzXs]="24"></nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="8" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required readonly />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive" nzDisabled>
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
</form>