<div nz-row nzType="flex">
    <div class="pl-10" nz-col nzXXl="6" nzXl="8" nzLg="10" nzXs="24">
        <div class="card">
            <h3 class="pr-10 pt-10"><b>وظیفه امروز</b></h3>
            <hr>
            <ul>
                <li>شیفت : </li>
                <li>دوره تخلیه : </li>
                <li>سرشیفت : </li>
                <li>ساعت استراحت : </li>
                <li>شماره تماس سر شیفت : </li>
                <li>تجهیزات : </li>
            </ul>
        </div>
        <div class="card mt-10">
            <h3 class="pr-10 pt-10"><b>رفت و روب</b></h3>
            <hr>
            <div class="px-10 pb-10 pt-5">
                <a class="m-0" nz-button nzType="dashed" nzBlock>عملیات رفت و روب انجام گردید</a>
            </div>
        </div>
        <div class="card mt-10">
            <h3 class="pr-10 pt-10"><b>برنامه ریزی رفت و روب</b></h3>
            <hr>
            <table class="table bordered striped">
                <tbody>
                    <tr *ngFor="let item of requests">
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div nz-col nzXXl="18" nzXl="16" nzLg="14" nzXs="24">
        <app-layout-map [enablePlaces]="true" [enableCleaningAreas]="true"
            place-class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-xxs-12"></app-layout-map>
    </div>
</div>