<div class="pb-10">
    <button nz-button nzType="primary" [disabled]="!selectedNode" (click)="oncomplete.emit(selectedNode.origin)">تایید</button>
    <button nz-button nzType="default" (click)="oncomplete.emit()">انصراف</button>
</div>
<nz-input-group [nzSuffix]="suffixIcon">
    <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
</nz-input-group>
<ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
</ng-template>
<nz-tree nzBlockNode nzShowLine nzShowIcon nzMultiple="false" [nzData]="nodes" [nzSearchValue]="searchValue"
    [nzExpandedIcon]="mutiExpandedIconTpl" (nzClick)="onClick($event)"
    (nzSearchValueChange)="onSearchValueChange($event)" (nzDblClick)="onDblClick($event)">
    <ng-template #mutiExpandedIconTpl let-node>
        <img *ngIf="!node.isLeaf && !node.isExpanded" src="assets/images/layouts/tree/open.png" />
        <img *ngIf="!node.isLeaf && node.isExpanded" src="assets/images/layouts/tree/close.png" />
        <img *ngIf="node.isLeaf" src="assets/images/layouts/tree/leaf.png" />
    </ng-template>
</nz-tree>