:host {
  flex: 1;
  display: block;
  max-width: 100%;
  position: relative;
  min-height: 100%;

  >nz-spin {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(31, 31, 31, 0.42);

    &[ng-reflect-nz-spinning="true"] {
      display: block;
    }
  }
}

.scroll-layer {
  overflow: auto;
}

.items-layer {
  user-select: none;
  position: relative;

  .main-image {
    width: 100%;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.select {
    cursor: crosshair;
  }

  &.draw-place {
    cursor: crosshair;
  }

  &.draw-station {
    cursor: cell;
  }

  &.draw-element {
    cursor: cell;
  }

  &.draw-route {
    &.route-selected {
      .station {
        cursor: cell;
      }
    }
  }

  &.draw-cleaning-area {
    cursor: crosshair;
  }

  &.eraser {
    .item {
      cursor: cell;
    }
  }

  &.move {
    cursor: move;
  }


}

::ng-deep {
  .item {
    &.station {
      stroke-dasharray: 1;
    }
  }

  nz-spin {
    .ant-spin-dot-item {
      background-color: #fff;
    }
    .ant-spin {
      color: #fff;
    }
  }
}
