<nz-spin [nzSpinning]="isLoading" nzTip="در حال بارگزاری"></nz-spin>
<div *ngIf="src" class="scroll-layer">
    <div class="items-layer" [style.width]="(scale * 100) + '%'">
        <img class="main-image" [src]="src" (load)="onloadend.emit()"/>
        <svg width="100%" height="100%">
            <g *ngFor="let item of items" class="item" 
                [innerHTML]="item.render() | safe" 
                [ngClass]="item.getClass()"
                (click)="item.click($event)"
                (dblclick)="item.dblclick($event)"
            >
            </g>
        </svg>
    </div>
</div>