:host {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}
.upload-container {
  width: 100%;
  height: 100%;
  display: flex;
  color: #777;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed #ddd;
  .or {
    position: relative;
    width: 100px;
    height: 1px;
    background-color: #777;

    &::before {
      content: "or";
      position: absolute;
      background-color: #fff;
      padding: 3px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}
.toolbar {
  padding-bottom: 20px;
  button {
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    opacity: 0.9;
    cursor: pointer;

    &.blue {
      background-color: #227de6;
      border: 1px solid #044fa3;
    }
    &.green {
      background-color: #1fc372;
      border: 1px solid #118617;
    }
    &.yellow {
      background-color: #e0bf00;
      border: 1px solid #c4ae36;
    }
    &.red {
      background-color: #ef4949;
      border: 1px solid #b42b26;
    }

    &:hover {
      opacity: 1;
    }
    &:disabled {
      opacity: 0.3;
    }
  }
}
.files {
  width: 100%;
  border-collapse: collapse;
  thead {
    tr {
      background-color: #f9f9f9;
      border-bottom: 1px solid #eaeaea;
    }
    th {
      color: #999999;
      padding: 15px 15px;
      text-align: left;
      font-weight: normal;
      border-width: 0 1px;
      border-color: #eaeaea;
      border-style: solid;
    }
  }
  tbody {
    color: #5a5a5a;
    tr {
      border-bottom: 1px solid #eaeaea;
    }
    td {
      padding: 6px 10px;
    }
    .name-box {
      display: flex;
      align-items: center;
    }
    .icon {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      display: inline-block;
      border-radius: 50%;
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }
    .progressbar {
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 6px;
      position: relative;
      border: 1px solid rgb(224, 224, 224);

      &::before {
        content: attr(data-progress);
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 11px;
        transform: translate(-50%, -50%);
      }
      .bar {
        height: 100%;

        &.complete {
          background-color: #1cd085;
        }
        &.high {
          background-color: #5eabeb;
        }
        &.medium {
          background-color: #39d0e4;
        }
        &.low {
          background-color: #ffc65d;
        }
        &.verylow {
          background-color: #dee94d;
        }
      }
    }
    .options {
      > * {
        width: 28px;
        height: 28px;
        cursor: pointer;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
      .upload {
        background-image: url(../../images/upload/upload.png);
      }
    }
  }
}
