<div *ngIf="!files?.length; else elseBlock" class="upload-container">
  <h3>Drag files here</h3>
  <p class="or"></p>
  <h4>Click to choose files</h4>
  <input type="file" multiple (change)="handleFileInput($event.target.files)" />
</div>
<ng-template #elseBlock>
  <div class="toolbar">
    <button class="green" (click)="startAll()" [disabled]="">Start All</button>
    <button class="yellow" (click)="stopAll()" [disabled]="">Stop All</button>
    <button class="red" (click)="removeAll()" [disabled]="">Remove All</button>
  </div>
  <table class="files">
    <thead>
      <tr>
        <th>Name</th>
        <th width="120px">Size</th>
        <th width="140px">Type</th>
        <th width="120px">Speed</th>
        <th width="100px">Status</th>
        <th width="200px">Progress</th>
        <th width="50px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of files; let index = index">
        <td>
          <div class="name-box">
            <i class="icon" [ngClass]="getFileTypeClass(item)"></i>
            <span class="name">{{ item.name }}</span>
          </div>
        </td>
        <td>{{ getFileSizeFormatted(item.size) }}</td>
        <td>{{ item.type }}</td>
        <td>{{ getFileSizeFormatted(getFileInfo(item).speed) }}/s</td>
        <td>{{ getFileInfo(item).status }}</td>
        <td>
          <div
            class="progressbar"
            [attr.data-progress]="getFileInfo(item).progress + '%'"
          >
            <div
              class="bar"
              [ngClass]="{
                verylow: getFileInfo(item).progress < 25,
                low: getFileInfo(item).progress < 50,
                medium: getFileInfo(item).progress < 75,
                high: getFileInfo(item).progress < 100,
                complete: getFileInfo(item).progress == 100
              }"
              [style.width]="getFileInfo(item).progress + '%'"
            ></div>
          </div>
        </td>
        <td>
          <div class="options">
            <a class="upload" (click)="startUploadFileByIndex(index)"></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
