<form nz-row nzType="flex" [formGroup]="form" (submit)="submit()" autocomplete="off" class="px-20">
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">عنوان</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" required />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Image">تصویر</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="12" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Image" id="Image" />
        </nz-form-control>
        <nz-form-control nzHasFeedback [nzSm]="6"><a nz-button nzType="primary" nzBlock (click)="choose()">انتخاب تصویر</a>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Type">نوع</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <nz-select formControlName="Type" id="Type" required>
                <nz-option *ngFor="let item of types" [nzLabel]="item.value" [nzValue]="item.key"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive">
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzSpan="24">
        <div class="buttons" nz-row nzType="flex">
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading">ثبت</button>
            </div>
            <div class="p-5" nz-col nzLg="12" nzXs="24">
                <button nz-button nzType="default" type="button" nzBlock (click)="cancel()">انصراف</button>
            </div>
        </div>
    </div>
</form>

<app-uploader *ngIf="chooseFlag" class="full-screen" [uploader]="uploader" (oncomplete)="chooseComplete($event)">
</app-uploader>