:host {
  height: 35px;
  display: block;
  padding: 25px 0;
  margin: 10px 40px;
  user-select: none;
  position: relative;
  box-sizing: content-box;

  >span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .startTime {
    right: -38px;
  }

  .endTime {
    left: -35px;
  }
}

ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  direction: rtl;
  list-style: none;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  border: 1px solid #bcbcbc;

  &.disabled {
    opacity: .6;
  }

  &:not(.disabled)>li {
    &:after {
      content: "";
      position: absolute;
      top: -4px;
      left: -1px;
      height: 6px;
      transform: translateX(-50%);
      border-right: 1px solid #ccc;
    }

    .remove {
      position: absolute;
      top: -10px;
      left: 50%;
      opacity: 0;
      width: 20px;
      height: 20px;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      color: rgb(247, 75, 75);
      transition: all 300ms ease;
      transform: translateX(-50%);
    }

    .scroll {
      left: -8px;
      top: -18px;
      width: 14px;
      height: 14px;
      display: flex;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      border-radius: 50%;
      background-color: white;
      transition: all 100ms ease;
      border: 3px solid rgb(102, 24, 192);
    }

    &:hover {
      .remove {
        opacity: 1;
        background-color: #ffebeb;
        transform: translate(-50%, -15px);
      }
    }

    &.active>.scroll {
      transform: scale(1.5) translateY(-1px);
    }

    div {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}

li {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;

  .time {
    left: -12px;
    bottom: -25px;
    color: #222;
    transform: translateX(-50%);
    position: absolute;
  }

  &:last-child {
    .time {
      transform: initial;
    }
  }
}
