<span class="startTime">{{formatTime(startTime)}}</span>
<ul #splitterbar (mousemove)="onmouseMove($event)" (mousedown)="addSplit($event,splitterbar)" [ngClass]="{disabled: disabled}">
  <li *ngFor="let item of getItems(); let index = index"
      [ngClass]="{active: this.selectedItem == item}"
      [attr.data-time]="item"
      [ngStyle]="{
        width: getPercent(index) + '%',
        backgroundColor: item.color
    }">
    <div>{{item.text}}</div>
    <a class="remove" (mousedown)="preventDefault($event,item)" (click)="remove(item)">&times;</a>
    <a class="scroll" (mousedown)="preventDefault($event,item)"></a>
    <span class="time">{{formatTime(item.time)}}</span>
  </li>
</ul>
<span class="endTime">{{formatTime(endTime)}}</span>