/* You can add global styles to this file, and also import other style files */
body {margin:0;}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
   
::-webkit-scrollbar-track {
    background: #ddd;
}
   
::-webkit-scrollbar-thumb {
    background: #666; 
}

.color-box {
    display: block;
    margin: auto;
    width: 30px;
    height: 15px;
}