<form nz-row nzType="flex" [formGroup]="form" class="px-20">
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Name">نام شیفت</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" readonly />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzLg="12" nzXs="24" formGroupName="DayType">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="DayType">نوع روز</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Name" id="Name" readonly />
        </nz-form-control>
    </nz-form-item>
    <div nz-col nzSpan="24">
        <div *ngIf="f.DayType">
            <app-time-splitter [items]="timeSplits" [startTime]="f.DayType.StartTime" [endTime]="f.DayType.EndTime" disabled></app-time-splitter>
        </div>
    </div>
    <nz-form-item nz-col nzLg="12" nzXs="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive" nzDisabled>
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
</form>