[dir="rtl"] {
  direction: rtl;

  .ant-btn>.anticon+span,
  .ant-btn>span+.anticon {
    margin-left: initial !important;
    margin-right: 8px;
  }

  nz-table {
    direction: rtl;

    th,
    td {
      direction: rtl;
      text-align: right;
    }
  }

  .ant-table-header-column {
    display: flex !important;

    >* {
      flex: 1;
      display: flex !important;
    }
  }

  .ant-table-column-title {
    flex: 1;
  }

  .ant-pagination {

    .ant-pagination-prev,
    .ant-pagination-next {
      transform: rotate(180deg);
    }
  }

  .ant-table-thead>tr:first-child>th:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: initial !important;
  }

  .ant-table-thead>tr:first-child>th:last-child {
    border-top-left-radius: 4px;
    border-top-right-radius: initial !important;
  }

  .ant-table-small.ant-table-bordered .ant-table-tbody>tr>td:last-child {
    border-right: 1px solid #e8e8e8;
  }

  .ant-row {
    direction: rtl !important;
  }

  .ant-modal-close {
    right: inherit;
    left: 0;
  }

  .ant-select-selection-selected-value {
    float: initial !important;
  }

  .ant-select-arrow {
    right: initial !important;
    left: 11px;
  }

  .ant-select-selection--single .ant-select-selection__rendered {
    margin-right: 12px;
    margin-left: 24px;
    height: 100%;
  }

  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) .anticon:not(:last-child) {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-left: initial !important;
    transform: translateY(-50%);
  }

  .ant-tree li ul {
    padding: 0 18px 0 0;
  }

  .ant-tree.ant-tree-show-line nz-tree-node:not(:last-child)>li::before {
    left: initial !important;
    right: 12px;
  }

  .ant-form-item-required::before {
    top: 1px;
    margin: 0px 5px;
    position: relative;
  }

  .ant-time-picker-icon,
  .ant-time-picker-clear {
    right: initial !important;
    left: 11px;
  }

  .ant-select-selection__clear {
    right: initial !important;
    left: 11px;
  }

  .ant-select-selection__choice {
    float: right;
  }

  .ant-select-selection__rendered {
    margin-left: 30px;
    margin-right: 0;
  }

  .ant-notification-notice-close {
    right: inherit !important;
    left: 22px;
  }

  .ant-notification-notice-closable .ant-notification-notice-message {
    padding-right: 8px;
  }

  .ant-select-tree li span.ant-select-tree-switcher.ant-select-tree-switcher_close .ant-select-switcher-icon svg {
    transform: rotate(90deg);
  }

  .has-feedback {
    .ant-form-item-children-icon {
      right: inherit !important;
      left: 2px;
    }

    :not(.ant-input-group-addon)>.ant-select .ant-select-selection-selected-value {
      padding-right: 0 !important;
    }

    .ant-input {
      padding-right: 11px !important;
    }

    nz-select.ant-input {
      padding-right: 0 !important;
    }

    .ant-select-arrow {
      left: 28px;
    }
  }

  .ant-input[type="number"] {
    padding-left: 0px !important;
  }

  .ant-pagination-item {
    margin-left: 8px;
  }

  .ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters {
    padding-right: 40px !important;
  }
}


//============================================
html {
  background-color: #f0f2f5;
}

.ant-row {
  display: flex !important;
}

nz-breadcrumb {
  display: flex;
}

[nz-button] {
  margin: 0 5px;
}

.ant-table-thead {
  th {
    >* {
      color: #fff;
    }

    background-color: #1890ff !important;
  }
}

.ant-table-bordered .ant-table-thead>tr>th {
  border-right: 1px solid #047eef !important;
}

.ant-btn {
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-btn-danger {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

  &:focus,
  &:hover {
    color: #fff;
    background-color: #ff7875;
    border-color: #ff7875;
  }
}

.ant-table-small>.ant-table-content>.ant-table-body {
  margin: 0 !important;
}

.ant-table-small.ant-table-bordered .ant-table-content {
  border-right: 0;
}

.ant-table-small>.ant-table-content>.ant-table-body>table>.ant-table-tbody>tr>td {
  padding: 6px 6px;
}

.ant-select-sm .ant-select-selection--single {
  height: 30px;
  padding: 3px;
  ;
}

.ant-select-dropdown-menu {
  padding: 0;
}

.ant-pagination.mini .ant-pagination-options {
  display: inline-flex;
}

.ant-form-item-children {
  display: block;
}

.ant-table-pagination.ant-pagination {
  margin: 10px 0;
}

.ant-select-selection__rendered::after {
  content: initial !important;
}

.ant-time-picker {
  width: 100%;
}

.ant-select {
  display: block;
}

.ant-notification-notice-icon {
  position: relative !important;
}


nz-form-item {
  display: flex !important;
  flex-wrap: wrap;

  nz-form-label {
    display: flex !important;
    align-items: flex-start;

    >label {
      display: inline-flex;
      align-items: center;
    }
  }

  nz-form-label:first-child {
    justify-content: flex-start;

    >label {
      flex-direction: row;
    }
  }

  nz-form-label:last-child {
    justify-content: flex-start;

    >label {
      flex-direction: row-reverse;
    }
  }
}

.ant-form-item-required::before {
  height: 0;
  line-height: 0 !important;
}

dp-month-calendar.dp-material .dp-calendar-month,
dp-day-calendar.dp-material .dp-calendar-day {
  line-height: 0;
  text-align: center;
}

.dp-calendar-nav-container {
  line-height: 26px;

  >div {
    height: 100%;
  }
}

dp-calendar-nav .dp-nav-header {}

dp-calendar-nav.dp-material .dp-nav-header-btn {
  height: 100%;
}

.ant-form-item {
  margin: 12px 0 !important;
}

.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .ant-table-filter-icon {
  background: transparent;
}

.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters .ant-table-filter-icon.ant-table-filter-open,
.ant-table-filter-icon:hover {
  color: #fff !important;
  background-color: #0775dc !important;
}

.search-box {
  padding: 10px;
}

.ant-table-footer {
  padding: 8px 14px;
  color: rgba(0, 0, 0, 0.42);
  border-right: 1px solid #e8e8e8 !important;
}
