<div class="options">
  <div class="search">
    <div class="input">
      <input type="text" [(ngModel)]="uploader.explorer.search" />
    </div>
    <a class="button-icon button"></a>
  </div>
  <div class="tools">
    <a href="javascript: void;" class="button-icon sort">
      <ul>
        <li [ngClass]="{ active: sort == 'Id' }"><a (click)="sort = 'Id'">Id</a></li>
        <li [ngClass]="{ active: sort == 'Name' }"><a (click)="sort = 'Name'">Name</a></li>
        <li [ngClass]="{ active: sort == 'Size' }"><a (click)="sort = 'Size'">Size</a></li>
        <li [ngClass]="{ active: sort == 'Type' }"><a (click)="sort = 'Type'">Type</a></li>
        <li [ngClass]="{ active: sort == 'CreationTime' }"><a (click)="sort = 'CreationTime'">Creation Time</a></li>
      </ul>
    </a>
    <a class="button-icon mode" [ngClass]="mode" (click)="uploader.explorer.toggleMode()"></a>
  </div>
</div>
<ul class="breadcrumb">
  <li *ngFor="let item of breadcrumb">
    <a (click)="gotoDirectory(item)">{{item.Name}}</a>
    <span> / </span>
  </li>
</ul>
<div class="files" [ngSwitch]="mode">
  <div class="table" *ngSwitchCase="'table'">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th width="50px">Starred</th>
          <th width="50px">Label</th>
          <th width="100px">Size</th>
          <th width="120px">Type</th>
          <th width="110px">Accessibility</th>
          <th width="250px">Creation Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of getItems()" [ngClass]="{ selected: selectedItem?.Id == item.Id }"
          (click)="selectedItem = item" (dblclick)="dblclick(item)" (contextmenu)="openFileContextMenu($event, item)">
          <td>
            <div class="name-box">
              <i class="icon" [ngClass]="getFileTypeClass(item)"></i>
              <span class="name">{{ item.Name }}</span>
            </div>
          </td>
          <td>
            <div class="starred">
              <i *ngIf="item.Starred"></i>
            </div>
          </td>
          <td>
            <div class="label">
              <i *ngIf="item.Label" [style.backgroundColor]="item.Label.Color"></i>
            </div>
          </td>
          <td>{{ getFileSizeFormatted(item) }}</td>
          <td>{{ getFileTypeName(item) }}</td>
          <td>{{ getFileAccessibilityName(item) }}</td>
          <td>{{ item.CreationTime }}</td>
        </tr>
      </tbody>
    </table>
    <div class="free-space" (contextmenu)="openMainContextMenu($event)">

    </div>
  </div>
  <div class="grid" *ngSwitchCase="'grid'"></div>
  <a href="javaScript:void(0);" class="contextmenu file-contextmenu">
    <ul>
      <li class="preview"><a (click)="preview()"><span>Preview</span></a></li>
      <li class="share"><a (click)="share()"><span>Share</span></a></li>
      <li class="link"><a (click)="getShareLink()"><span>Get Share Link</span></a></li>
      <li class="move"><a (click)="move()"><span>Move to</span></a></li>
      <li class="starred">
        <a (click)="toggleStarred()">
          <span *ngIf="selectedItem?.Starred; else noStarred">Remove from starred</span>
          <ng-template #noStarred><span>Add to starred</span></ng-template>
        </a>
      </li>
      <li class="rename"><a (click)="rename()"><span>Rename</span></a></li>
      <li class="label">
        <a><span>Change Label</span></a>
        <ul class="labels">
          <li [ngClass]="{active: (!selectedItem?.LabelId)}">
            <a (click)="removeLabel()"><i [style.backgroundColor]="'#ccc'"></i><span>No Label</span></a>
          </li>
          <li *ngFor="let item of labels" [ngClass]="{active: (item.Id == selectedItem?.LabelId)}">
            <a (click)="setLabel(item)"><i [style.backgroundColor]="item.Color"></i><span>{{item.Name}}</span></a>
          </li>
        </ul>
      </li>
      <li class="detail"><a (click)="detail()"><span>View Detail</span></a></li>
      <li class="download"><a (click)="download()"><span>Download</span></a></li>
      <li class="remove"><a (click)="remove()"><span>Remove</span></a></li>
    </ul>
  </a>
  <a href="javaScript:void(0);" class="contextmenu main-contextmenu">
      <ul>
        <li class="directory"><a (click)="createDirectory()"><span>New Directory</span></a></li>
      </ul>
    </a>
</div>
<div class="modal-overlay" [ngClass]="{open: (!!modal)}">
  <div class="modal">
    <div class="header">
      <a (click)="modal=''">&times;</a>
    </div>
    <div class="body" [ngSwitch]="modal">
      <div class="share" *ngSwitchCase="'share'">
        <div>
          <input type="text">
          <button></button>
        </div>
      </div>
      <div class="link" *ngSwitchCase="'link'">
        <div>
          <div><input type="text"></div>
          <div><select></select></div>
          <div><button></button></div>
        </div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="detail" *ngSwitchCase="'detail'">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{selectedItem.Name}}</td>
            </tr>
            <tr>
              <td>Type</td>
              <td>{{getFileTypeClass(selectedItem)}}</td>
            </tr>
            <tr>
              <td>Size</td>
              <td>{{getFileSizeFormatted(selectedItem)}}</td>
            </tr>
            <tr>
              <td>Label</td>
              <td>{{selectedItem.Label?.Name ? selectedItem.Label?.Name : '-'}}</td>
            </tr>
            <tr>
              <td>Link</td>
              <td><a target="__blank">{{getDownloadLink()}}</a></td>
            </tr>
            <tr>
              <td>Modified At</td>
              <td>{{selectedItem.LastModificationTime}}</td>
            </tr>
            <tr>
              <td>Created At</td>
              <td>{{selectedItem.CreationTime}}</td>
            </tr>
            <tr>
              <td>Description</td>
              <td>{{selectedItem.Description ? selectedItem.Description : '-'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>