:host {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #eeeeee;
}

.button-icon {
  padding: 15px 30px;
  margin: 0 5px;
  background-color: #f5f5f5;
  border: 1px solid #c6c6c6;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}

.options {
  width: 100%;
  display: flex;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 5px 1px #e1e1e1;

  .search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .input {
      padding: 0 5px;

      >input {
        width: 400px;
        padding: 6px 8px;
        border: 1px solid #c6c6c6;
      }
    }

    .button {
      cursor: pointer;
      background-image: url(../../images/search.png);
    }
  }

  .tools {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;

    .sort {
      cursor: pointer;
      position: relative;
      background-image: url(../../images/sort.png);

      >ul {
        opacity: 0;
        max-height: 0;
        margin: 0;
        padding: 0;
        left: 0;
        top: calc(100% + 5px);
        display: flex;
        flex-direction: column;
        min-width: 200px;
        color: #444;
        list-style: none;
        position: absolute;
        overflow: hidden;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #c6c6c6;
        transition: max-height 0ms linear 200ms, opacity 200ms ease;

        &:focus>ul,
        ul:hover {
          opacity: 1;
          max-height: 200px;
          transition: opacity 200ms ease;
        }

        li {
          &:not(:last-child) {
            border-bottom: 1px solid #ddd;
          }

          &:hover {
            background-color: #f6f6f6;
          }

          &.active>a:before {
            content: "✔";
            padding: 0 10px;
          }

          a {
            display: block;
            padding: 10px 15px;
          }
        }
      }
    }

    .mode {
      cursor: pointer;

      &.grid {
        background-image: url(../../images/grid.png);
      }

      &.table {
        background-image: url(../../images/table.png);
      }
    }
  }
}
.breadcrumb {
  display: flex;
  margin:0;
  padding: 0;
  list-style: none;
  padding: 10px 20px;
  span {
    padding: 0 7px;
  }
}
.files {
  display: flex;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: auto;
  background-color: #fff;

  .table {
    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          background-color: #f9f9f9;
          border-bottom: 1px solid #eaeaea;
        }

        th {
          color: #999999;
          padding: 15px 15px;
          text-align: justify;
          font-weight: normal;
          border-width: 0 1px;
          border-color: #eaeaea;
          border-style: solid;
        }
      }

      tbody {
        color: #5a5a5a;

        tr {
          border-bottom: 1px solid #eaeaea;

          &.selected {
            color: #fff;
            background-color: #4285f4;
          }
        }

        td {
          padding: 6px 10px;
        }

        .label {
          display: flex;
          justify-content: center;

          i {
            width: 15px;
            height: 15px;
            display: inline-block;
            border-radius: 50%;
          }
        }

        .starred {
          display: flex;
          justify-content: center;

          i {
            width: 25px;
            height: 25px;
            display: inline-block;
            background-image: url(../../images/file-contextmenu/starred.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
          }
        }

        .name-box {
          display: flex;
          align-items: center;
          white-space: nowrap;
        }

        .icon {
          width: 28px;
          height: 28px;
          display: inline-block;
          border-radius: 50%;
          background-color: #fff;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 20px 20px;
        }

        .name {
          padding: 0 10px;
        }
      }
    }

    .free-space {
      flex: 1;
      min-height: 200px;
    }
  }

  .grid {
    width: 100%;
  }

  .contextmenu {
    outline: none;
    position: absolute;

    ul {
      position: absolute;
      opacity: 0;
      max-height: 0;
      margin: 0;
      padding: 0;
      top: -10000px;
      display: flex;
      flex-direction: column;
      min-width: 275px;
      color: #444;
      list-style: none;
      background-color: #fff;
      border-width: 0;
      border-style: solid;
      border-color: rgba(198, 198, 198, 0.6588235294117647);
      box-shadow: 0px 3px 6px 0px #7b7b7b73;
      transition: max-height 0ms linear 200ms, padding 0ms linear 200ms, border-width 0ms linear 200ms, opacity 200ms ease;

      ul {
        top: 0;
        z-index: 10;
        position: absolute;

        a {
          padding: 5px 15px;
        }
      }
    }

    li {}

    a {
      display: flex;
      padding: 8px 15px;
      align-items: center;
      padding-right: 40px;
      justify-content: flex-start;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: calc(100% - 10px) center;
    }


    &:focus>ul,
    ul:hover,
    li:hover>ul {
      top: 0;
      opacity: 1;
      padding: 10px;
      border-width: 1px;
      max-height: 500px;
      transition: max-height 200ms ease, padding 200ms ease, border-width 200ms ease, opacity 200ms ease;
    }

    &.right {
      ul {
        right: 0;
      }
    }

    &.left {
      ul {
        left: 0;
      }
    }

  }

  .main-contextmenu {
    li {

      &.directory>a {
        background-image: url(../../images/main-contextmenu/directory.png);
      }
    }
  }

  .file-contextmenu {

    &:link,
    &:visited {
      text-decoration: none;
    }

    ul {

      li {
        position: relative;

        &:not(:last-child) {
          border-bottom: 1px solid #ddd;
        }

        &:hover {
          background-color: #f1f1f1;
        }

        &.active>a:before {
          content: "✔";
          padding: 0 10px;
        }

        a {

          span {
            float: 1;
          }

          // i.arrow {
          //   width: 28px; 
          //   height: 28px;

          //   background-position: center;
          //   background-repeat: no-repeat;
          //   background-size: 20px 20px;
          // }
        }

        &.preview>a {
          background-image: url(../../images/file-contextmenu/preview.png);
        }

        &.download>a {
          background-image: url(../../images/file-contextmenu/download.png);
        }

        &.label>a {
          background-image: url(../../images/file-contextmenu/label.png);
        }

        &.link>a {
          background-image: url(../../images/file-contextmenu/link.png);
        }

        &.move>a {
          background-image: url(../../images/file-contextmenu/move.png);
        }

        &.remove>a {
          background-image: url(../../images/file-contextmenu/remove.png);
        }

        &.rename>a {
          background-image: url(../../images/file-contextmenu/rename.png);
        }

        &.share>a {
          background-image: url(../../images/file-contextmenu/share.png);
        }

        &.starred>a {
          background-image: url(../../images/file-contextmenu/starred.png);
        }

        &.detail>a {
          background-image: url(../../images/file-contextmenu/view.png);
        }

        ul {

          a {}

          &.labels {
            li.active>a::before {
              content: "✔";
              padding: 0 10px;
            }

            i {
              width: 15px;
              height: 15px;
              border-radius: 50%;
            }

            span {
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(70, 73, 109, 0.3);

  &.open {
    display: flex;
  }

  .modal {
    min-width: 200px;
    min-height: 50px;
    margin-top: -100px;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 #969595;
  }

  .header {
    padding: 10px 20px;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 1px 0px 0 #eaeaea;
  }

  .body {
    padding: 40px;
  }

  .share {}

  .link {}

  .move {}

  .rename {}

  .label {}

  .detail {
    table {
      td {
        padding: 5px;
        border: 1px solid #b3b1b1;
        background-color: #eee;

        &:first-child {
          font-weight: bold;
          background-color: #e2e2e2;
        }
      }
    }
  }
}
