<div nz-row nzType="flex">
  <nz-form-item nz-col nzXXl="10" nzXl="8" nzXs="24">
    <nz-form-label nzXXl="6" nzXl="10" nzLg="10" nzMd="9" nzXs="8" nzRequired nzFor="roleId">گروه کاربری</nz-form-label>
    <nz-form-control nzHasFeedback nzXXl="16" nzXl="12" nzLg="12" nzMd="13" nzXs="14" nzErrorTip="مقدار وارد شده معتبر نیست">
      <nz-select [(ngModel)]="roleId" id="roleId" required (ngModelChange)="onchange()">
        <nz-option *ngFor="let item of roles" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-col nzXXl="7" nzXl="8" nzXs="12">
    <nz-form-label nzSpan="7" nzRequired nzFor="year">سال</nz-form-label>
    <nz-form-control nzHasFeedback nzSpan="15" nzErrorTip="مقدار وارد شده معتبر نیست">
      <input nz-input type="number" [(ngModel)]="year" id="year" required (change)="onchange()" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-col nzXXl="7" nzXl="8" nzXs="12">
    <nz-form-label nzSpan="7" nzRequired nzFor="month">ماه</nz-form-label>
    <nz-form-control nzHasFeedback nzSpan="15" nzErrorTip="مقدار وارد شده معتبر نیست">
      <nz-select nz-input [(ngModel)]="month" id="month" (ngModelChange)="onchange()" required>
        <nz-option nzLabel="فروردین" [nzValue]="1"></nz-option>
        <nz-option nzLabel="اردیبهشت" [nzValue]="2"></nz-option>
        <nz-option nzLabel="خرداد" [nzValue]="3"></nz-option>
        <nz-option nzLabel="تیر" [nzValue]="4"></nz-option>
        <nz-option nzLabel="مرداد" [nzValue]="5"></nz-option>
        <nz-option nzLabel="شهریور" [nzValue]="6"></nz-option>
        <nz-option nzLabel="مهر" [nzValue]="7"></nz-option>
        <nz-option nzLabel="آبان" [nzValue]="8"></nz-option>
        <nz-option nzLabel="آذر" [nzValue]="9"></nz-option>
        <nz-option nzLabel="دی" [nzValue]="10"></nz-option>
        <nz-option nzLabel="بهمن" [nzValue]="11"></nz-option>
        <nz-option nzLabel="اسفند" [nzValue]="12"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</div>

<div *ngIf="jcalendar" class="calender">
  <table style="width: 100%" (mouseup)="resizeEnd()">
    <thead>
      <tr>
        <th width="100px">عنوان روز</th>
        <th>
          <span>طول روز</span>
          <div *ngFor="let line of lines" [style.right]="line.getPercent() + '%'" class="line">
            {{line.time.toString('hh:mm')}}</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let day of jcalendar.days" class="day">
        <td class="day-text">{{day.text}}</td>
        <td class="day-cell">
          <div *ngFor="let line of lines" [style.right]="line.getPercent() + '%'" class="line"></div>
          <div class="items">
            <div *ngFor="let item of day.items" class="item" #itemEl (mousemove)="resizing(item, itemEl, $event)">
              <div [style.marginRight]="item.getStartPercent() + '%'" [style.width]="item.getWidthPercent() + '%'"
                [style.backgroundColor]="item.color">
                <span class="bar start-bar" (mousedown)="resizeStart(item, true)"></span>
                <span>{{item.text}}</span>
                <span class="bar end-bar" (mousedown)="resizeStart(item, false)"></span>
              </div>
            </div>
            <div class="new-row" *ngIf="roleId">
              <a nz-button nzType="primary" (click)="newShiftStart(day)"><i nz-icon nzType="plus"></i></a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #shiftModalTpl>
  <nz-form-item>
    <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="shiftId">شیفت</nz-form-label>
    <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
      <nz-select [(ngModel)]="shiftId" id="shiftId" required (ngModelChange)="onchange()">
        <nz-option *ngFor="let item of getShiftsByDay()" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div>
    <a nz-button nzType="primary" (click)="newShift()">ثبت</a>
    <a nz-button nzType="default" (click)="shiftModal.destroy()">نصراف</a>
  </div>
</ng-template>
<ng-template #createTpl>
  <app-shift-schedule-create (oncomplete)="created($event)"></app-shift-schedule-create>
</ng-template>
<ng-template #editTpl>
  <app-shift-schedule-edit [id]="id" [obj]="selectedItem" (oncomplete)="edited($event)"></app-shift-schedule-edit>
</ng-template>
<ng-template #detailTpl>
  <app-shift-schedule-detail [id]="id" [obj]="selectedItem" (oncomplete)="detailed()"></app-shift-schedule-detail>
</ng-template>