.calender {
    max-height: 60vh;
    overflow: auto;
    border: 1px solid #ccc;
}
:host {
    user-select: none;
  }
  
  table {
    border: 1px solid #ccc;
  
    th {
      padding: 10px 10px 30px;
      text-align: center;
    }
  
    td,
    th {
      position: relative;
      border: 1px solid #ccc;
    }
  
    thead>tr,
    .day-text {
      background-color: #eee;
    }
  
    .line {
      position: absolute;
  
    }
  
    thead .line {
      bottom: 0;
      transform: translateX(50%);
    }
  
    tbody .line {
      top: 0;
      width: 0;
      height: 100%;
      border-right: 1px dashed rgba(204, 204, 204, 0.5);
    }
  
  }
  
  .day-text {
    text-align: center;
  }
  
  .day {}
  
  .day-cell {}
  
  .items {
    display: flex;
    height: 120px;
    flex-direction: column;
  
    >div {
      flex: 1;
      padding: 5px;
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;
    }
  
    .new-row {
      justify-content: flex-end;
      >a {
        opacity: 0;
        transition: opacity 300ms ease;
      }
  
      &:hover>a {
        opacity: 1;
      }
    }
  }
  
  .item {
  
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      top: 50%;
      right: 0;
      border-top: 1px dashed rgba(204, 204, 204, 0.3);
    }
  
    >div {
      height: 100%;
      text-align: center;
      border-radius: 4px;
      white-space: nowrap;
      background-color: #fff;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
    }
  
    .bar {
      position: absolute;
      width: 5px;
      height: 100%;
      cursor: ew-resize;
    }
  
    .start-bar {
      right: 0;
    }
  
    .end-bar {
      left: 0;
    }
  
  }
  