<div nz-row nzType="flex">
    <div class="p-5" nz-col nzXXl="12" nzXl="16" nzXs="24">
        <nz-card>
            <div nz-row nzType="flex">
                <nz-form-item nz-col nzXXl="7" nzXl="8" nzXs="12">
                    <nz-form-label nzSpan="7" nzRequired nzFor="year">سال</nz-form-label>
                    <nz-form-control nzHasFeedback nzSpan="15" nzErrorTip="مقدار وارد شده معتبر نیست">
                        <input nz-input type="number" [(ngModel)]="year" id="year" required (change)="onchange()" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col nzXXl="7" nzXl="8" nzXs="12">
                    <nz-form-label nzSpan="7" nzRequired nzFor="month">ماه</nz-form-label>
                    <nz-form-control nzHasFeedback nzSpan="15" nzErrorTip="مقدار وارد شده معتبر نیست">
                        <nz-select nz-input [(ngModel)]="month" id="month" (ngModelChange)="onchange()" required>
                            <nz-option nzLabel="فروردین" [nzValue]="1"></nz-option>
                            <nz-option nzLabel="اردیبهشت" [nzValue]="2"></nz-option>
                            <nz-option nzLabel="خرداد" [nzValue]="3"></nz-option>
                            <nz-option nzLabel="تیر" [nzValue]="4"></nz-option>
                            <nz-option nzLabel="مرداد" [nzValue]="5"></nz-option>
                            <nz-option nzLabel="شهریور" [nzValue]="6"></nz-option>
                            <nz-option nzLabel="مهر" [nzValue]="7"></nz-option>
                            <nz-option nzLabel="آبان" [nzValue]="8"></nz-option>
                            <nz-option nzLabel="آذر" [nzValue]="9"></nz-option>
                            <nz-option nzLabel="دی" [nzValue]="10"></nz-option>
                            <nz-option nzLabel="بهمن" [nzValue]="11"></nz-option>
                            <nz-option nzLabel="اسفند" [nzValue]="12"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <table class="days">
                <thead>
                    <tr>
                        <th>شنبه</th>
                        <th>یکشنبه</th>
                        <th>دوشنبه</th>
                        <th>سه شنبه</th>
                        <th>چهارشنبه</th>
                        <th>پنجشنبه</th>
                        <th>جمعه</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of getDayRows()">
                        <td *ngFor="let day of getDaysByRowIndex(row)" class="day"
                            [ngClass]="{hasTooltip: !!day.tooltip}">
                            <a *ngIf="day.monthDistance == 0" [ngClass]="{selected: (selectedDay == day)}" [style.color]="day.color" (click)="selectedDay = day">
                                <span>{{day.text}}</span>
                                <div class="tooltip" *ngIf="day.tooltip">({{day.tooltip}})</div>
                            </a>
                            <span *ngIf="day.monthDistance != 0">{{day.text}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </nz-card>
    </div>
    <div class="p-5" nz-col nzXXl="12" nzXl="8" nzXs="24">
        <nz-card>
            <h2><b>برنامه ریزی</b></h2>
            <hr>
        </nz-card>
    </div>
</div>