<form nz-row nzType="flex" [formGroup]="form">
    <nz-form-item nz-col nzSpan="24">
        <nz-form-label nzXXl="6" nzXl="10" nzXs="10" nzRequired nzFor="Code">کد مسیر</nz-form-label>
        <nz-form-control nzHasFeedback nzXXl="17" nzXl="13" nzXs="13" nzErrorTip="مقدار وارد شده معتبر نیست">
            <input nz-input formControlName="Code" id="Code" required readonly />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="24">
        <nz-form-control>
            <label nz-checkbox formControlName="IsActive" nzDisabled>
                <span>آیا فعال می باشد ؟</span>
            </label>
        </nz-form-control>
    </nz-form-item>
</form>